/**/
/* Fluid Stylesheet*/
/**/
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //*/
/*  Initial theme setup                                        //*/
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //*/
/* Navigation*/
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //*/
/*  Theme initialisation                                       //*/
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //*/
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
========================================================================== */
/**
* 1. Correct the line height in all browsers.
* 2. Prevent adjustments of font size after orientation changes in iOS.
*/
/* line 15, ../sass/base/_reset.scss */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
    ========================================================================== */
/**
* Remove the margin in all browsers.
*/
/* line 27, ../sass/base/_reset.scss */
body {
  margin: 0;
}

/**
* Render the `main` element consistently in IE.
*/
/* line 35, ../sass/base/_reset.scss */
main {
  display: block;
}

/**
* Correct the font size and margin on `h1` elements within `section` and
* `article` contexts in Chrome, Firefox, and Safari.
*/
/* line 44, ../sass/base/_reset.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
    ========================================================================== */
/**
* 1. Add the correct box sizing in Firefox.
* 2. Show the overflow in Edge and IE.
*/
/* line 57, ../sass/base/_reset.scss */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
/* line 69, ../sass/base/_reset.scss */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
    ========================================================================== */
/**
* Remove the gray background on active links in IE 10.
*/
/* line 81, ../sass/base/_reset.scss */
a {
  background-color: transparent;
}

/**
* 1. Remove the bottom border in Chrome 57-
* 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/
/* line 90, ../sass/base/_reset.scss */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */
}

/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/
/* line 101, ../sass/base/_reset.scss */
b,
strong {
  font-weight: bolder;
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
/* line 111, ../sass/base/_reset.scss */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
* Add the correct font size in all browsers.
*/
/* line 122, ../sass/base/_reset.scss */
small {
  font-size: 80%;
}

/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/
/* line 131, ../sass/base/_reset.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 139, ../sass/base/_reset.scss */
sub {
  bottom: -0.25em;
}

/* line 143, ../sass/base/_reset.scss */
sup {
  top: -0.5em;
}

/* Embedded content
    ========================================================================== */
/**
* Remove the border on images inside links in IE 10.
*/
/* line 154, ../sass/base/_reset.scss */
img {
  border-style: none;
}

/* Forms
    ========================================================================== */
/**
* 1. Change the font styles in all browsers.
* 2. Remove the margin in Firefox and Safari.
*/
/* line 166, ../sass/base/_reset.scss */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/
/* line 182, ../sass/base/_reset.scss */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/
/* line 192, ../sass/base/_reset.scss */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
* Correct the inability to style clickable types in iOS and Safari.
*/
/* line 201, ../sass/base/_reset.scss */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
* Remove the inner border and padding in Firefox.
*/
/* line 212, ../sass/base/_reset.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
* Restore the focus styles unset by the previous rule.
*/
/* line 224, ../sass/base/_reset.scss */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
* Correct the padding in Firefox.
*/
/* line 235, ../sass/base/_reset.scss */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
* 1. Correct the text wrapping in Edge and IE.
* 2. Correct the color inheritance from `fieldset` elements in IE.
* 3. Remove the padding so developers are not caught out when they zero out
*    `fieldset` elements in all browsers.
*/
/* line 246, ../sass/base/_reset.scss */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
* Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/
/* line 260, ../sass/base/_reset.scss */
progress {
  vertical-align: baseline;
}

/**
* Remove the default vertical scrollbar in IE 10+.
*/
/* line 268, ../sass/base/_reset.scss */
textarea {
  overflow: auto;
}

/**
* 1. Add the correct box sizing in IE 10.
* 2. Remove the padding in IE 10.
*/
/* line 277, ../sass/base/_reset.scss */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/
/* line 288, ../sass/base/_reset.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/
/* line 298, ../sass/base/_reset.scss */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
* Remove the inner padding in Chrome and Safari on macOS.
*/
/* line 307, ../sass/base/_reset.scss */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/
/* line 316, ../sass/base/_reset.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
    ========================================================================== */
/*
* Add the correct display in Edge, IE 10+, and Firefox.
*/
/* line 328, ../sass/base/_reset.scss */
details {
  display: block;
}

/*
* Add the correct display in all browsers.
*/
/* line 336, ../sass/base/_reset.scss */
summary {
  display: list-item;
}

/* Misc
    ========================================================================== */
/**
* Add the correct display in IE 10+.
*/
/* line 347, ../sass/base/_reset.scss */
template {
  display: none;
}

/**
* Add the correct display in IE 10.
*/
/* line 355, ../sass/base/_reset.scss */
[hidden] {
  display: none;
}

/* line 16, ../sass/base/_styletile.scss */
html {
  color: #393942;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

/* line 45, ../sass/abstracts/_functions.scss */
.heading-75, h1 {
  font-size: 75px;
}
/* line 45, ../sass/abstracts/_functions.scss */
.heading-56, h2 {
  font-size: 56px;
}
/* line 45, ../sass/abstracts/_functions.scss */
.heading-42, h3 {
  font-size: 42px;
}
/* line 45, ../sass/abstracts/_functions.scss */
.heading-32, h4 {
  font-size: 32px;
}
/* line 45, ../sass/abstracts/_functions.scss */
.heading-28, h5 {
  font-size: 28px;
}
/* line 45, ../sass/abstracts/_functions.scss */
.heading-22, h6 {
  font-size: 22px;
}
/* line 45, ../sass/abstracts/_functions.scss */
.heading-16 {
  font-size: 16px;
}
/* line 45, ../sass/abstracts/_functions.scss */
.heading-14 {
  font-size: 14px;
}
/* line 45, ../sass/abstracts/_functions.scss */
.heading-16 {
  font-size: 16px;
}

/* line 56, ../sass/base/_styletile.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 59, ../sass/base/_styletile.scss */
h1 a:link,
h1 a:visited, h2 a:link,
h2 a:visited, h3 a:link,
h3 a:visited, h4 a:link,
h4 a:visited, h5 a:link,
h5 a:visited, h6 a:link,
h6 a:visited {
  color: #393942;
  -webkit-transition: color 150ms;
  transition: color 150ms;
}
/* line 66, ../sass/base/_styletile.scss */
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: #AD004A;
}

/* line 71, ../sass/base/_styletile.scss */
h1,
.heading-75,
h1 {
  line-height: 93.75px;
  margin: 75px 0;
}

/* line 77, ../sass/base/_styletile.scss */
h2,
.heading-56,
h2 {
  line-height: 70px;
  margin: 56px 0;
}

/* line 83, ../sass/base/_styletile.scss */
h3,
.heading-32,
h4 {
  line-height: 48.3px;
  margin: 36.8px 0;
}

/* line 89, ../sass/base/_styletile.scss */
h4,
.heading-22,
h6 {
  line-height: 32.2px;
  margin: 25.3px 0;
}

/* line 95, ../sass/base/_styletile.scss */
h5, h6 {
  line-height: 36.8px;
  margin: 18.4px 0;
}

/* line 103, ../sass/base/_styletile.scss */
p, dl, menu, ol, ul,
pre {
  color: #393942;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5;
  margin: 24px 0;
}
/* line 111, ../sass/base/_styletile.scss */
p.large-text, dl.large-text, menu.large-text, ol.large-text, ul.large-text,
pre.large-text {
  font-size: 14px;
}
/* line 115, ../sass/base/_styletile.scss */
p.small-text, dl.small-text, menu.small-text, ol.small-text, ul.small-text,
pre.small-text {
  font-size: 22px;
}

/* line 120, ../sass/base/_styletile.scss */
blockquote {
  font-size: 22px;
  border-left: 2px solid #AD004A;
  padding-left: 1.125em;
}

/* line 126, ../sass/base/_styletile.scss */
b,
strong {
  font-size: inherit;
  font-family: inherit;
}

/* line 135, ../sass/base/_styletile.scss */
a:link {
  color: #AD004A;
  text-decoration: none;
}

/* line 140, ../sass/base/_styletile.scss */
a:visited {
  color: #D8005C;
  text-decoration: none;
}

/* line 145, ../sass/base/_styletile.scss */
a:hover,
a:focus {
  color: #8A003B;
  text-decoration: none;
}

/* line 151, ../sass/base/_styletile.scss */
a:active {
  color: #AD004A;
  text-decoration: none;
}

/* line 159, ../sass/base/_styletile.scss */
::-moz-selection {
  color: #FFFFFF;
  background: #AD004A;
}

/* line 163, ../sass/base/_styletile.scss */
::selection {
  color: #FFFFFF;
  background: #AD004A;
}

/* line 168, ../sass/base/_styletile.scss */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #000000;
  font-weight: 700;
}

/* line 173, ../sass/base/_styletile.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: #000000;
  font-weight: 700;
}

/* line 178, ../sass/base/_styletile.scss */
:-ms-input-placeholder {
  /* IE 10+ */
  color: #000000;
  font-weight: 700;
}

/* line 183, ../sass/base/_styletile.scss */
:-moz-placeholder {
  /* Firefox 18- */
  color: #000000;
  font-weight: 700;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //*/
/*  Layout                                                     //*/
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //*/
/* line 36, ../sass/layout/_grid.scss */
.fg__container {
  max-width: 768px;
  margin: 0 auto;
}
/* line 40, ../sass/layout/_grid.scss */
.fg__container--fluid {
  margin: 0;
  max-width: 100%;
}
/* line 46, ../sass/layout/_grid.scss */
.fg__row {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
/* line 28, ../sass/layout/_grid.scss */
.fg__col-small-1 {
  flex-basis: 8.33333%;
}
/* line 28, ../sass/layout/_grid.scss */
.fg__col-small-2 {
  flex-basis: 16.66667%;
}
/* line 28, ../sass/layout/_grid.scss */
.fg__col-small-3 {
  flex-basis: 25%;
}
/* line 28, ../sass/layout/_grid.scss */
.fg__col-small-4 {
  flex-basis: 33.33333%;
}
/* line 28, ../sass/layout/_grid.scss */
.fg__col-small-5 {
  flex-basis: 41.66667%;
}
/* line 28, ../sass/layout/_grid.scss */
.fg__col-small-6 {
  flex-basis: 50%;
}
/* line 28, ../sass/layout/_grid.scss */
.fg__col-small-7 {
  flex-basis: 58.33333%;
}
/* line 28, ../sass/layout/_grid.scss */
.fg__col-small-8 {
  flex-basis: 66.66667%;
}
/* line 28, ../sass/layout/_grid.scss */
.fg__col-small-9 {
  flex-basis: 75%;
}
/* line 28, ../sass/layout/_grid.scss */
.fg__col-small-10 {
  flex-basis: 83.33333%;
}
/* line 28, ../sass/layout/_grid.scss */
.fg__col-small-11 {
  flex-basis: 91.66667%;
}
/* line 28, ../sass/layout/_grid.scss */
.fg__col-small-12 {
  flex-basis: 100%;
}
@media screen and (min-width: 768px) {
  /* line 28, ../sass/layout/_grid.scss */
  .fg__col-medium-1 {
    flex-basis: 8.33333%;
  }
  /* line 28, ../sass/layout/_grid.scss */
  .fg__col-medium-2 {
    flex-basis: 16.66667%;
  }
  /* line 28, ../sass/layout/_grid.scss */
  .fg__col-medium-3 {
    flex-basis: 25%;
  }
  /* line 28, ../sass/layout/_grid.scss */
  .fg__col-medium-4 {
    flex-basis: 33.33333%;
  }
  /* line 28, ../sass/layout/_grid.scss */
  .fg__col-medium-5 {
    flex-basis: 41.66667%;
  }
  /* line 28, ../sass/layout/_grid.scss */
  .fg__col-medium-6 {
    flex-basis: 50%;
  }
  /* line 28, ../sass/layout/_grid.scss */
  .fg__col-medium-7 {
    flex-basis: 58.33333%;
  }
  /* line 28, ../sass/layout/_grid.scss */
  .fg__col-medium-8 {
    flex-basis: 66.66667%;
  }
  /* line 28, ../sass/layout/_grid.scss */
  .fg__col-medium-9 {
    flex-basis: 75%;
  }
  /* line 28, ../sass/layout/_grid.scss */
  .fg__col-medium-10 {
    flex-basis: 83.33333%;
  }
  /* line 28, ../sass/layout/_grid.scss */
  .fg__col-medium-11 {
    flex-basis: 91.66667%;
  }
  /* line 28, ../sass/layout/_grid.scss */
  .fg__col-medium-12 {
    flex-basis: 100%;
  }
}
@media screen and (min-width: 960px) {
  /* line 28, ../sass/layout/_grid.scss */
  .fg__col-large-1 {
    flex-basis: 8.33333%;
  }
  /* line 28, ../sass/layout/_grid.scss */
  .fg__col-large-2 {
    flex-basis: 16.66667%;
  }
  /* line 28, ../sass/layout/_grid.scss */
  .fg__col-large-3 {
    flex-basis: 25%;
  }
  /* line 28, ../sass/layout/_grid.scss */
  .fg__col-large-4 {
    flex-basis: 33.33333%;
  }
  /* line 28, ../sass/layout/_grid.scss */
  .fg__col-large-5 {
    flex-basis: 41.66667%;
  }
  /* line 28, ../sass/layout/_grid.scss */
  .fg__col-large-6 {
    flex-basis: 50%;
  }
  /* line 28, ../sass/layout/_grid.scss */
  .fg__col-large-7 {
    flex-basis: 58.33333%;
  }
  /* line 28, ../sass/layout/_grid.scss */
  .fg__col-large-8 {
    flex-basis: 66.66667%;
  }
  /* line 28, ../sass/layout/_grid.scss */
  .fg__col-large-9 {
    flex-basis: 75%;
  }
  /* line 28, ../sass/layout/_grid.scss */
  .fg__col-large-10 {
    flex-basis: 83.33333%;
  }
  /* line 28, ../sass/layout/_grid.scss */
  .fg__col-large-11 {
    flex-basis: 91.66667%;
  }
  /* line 28, ../sass/layout/_grid.scss */
  .fg__col-large-12 {
    flex-basis: 100%;
  }
}
@media screen and (min-width: 1024px) {
  /* line 28, ../sass/layout/_grid.scss */
  .fg__col-xlarge-1 {
    flex-basis: 8.33333%;
  }
  /* line 28, ../sass/layout/_grid.scss */
  .fg__col-xlarge-2 {
    flex-basis: 16.66667%;
  }
  /* line 28, ../sass/layout/_grid.scss */
  .fg__col-xlarge-3 {
    flex-basis: 25%;
  }
  /* line 28, ../sass/layout/_grid.scss */
  .fg__col-xlarge-4 {
    flex-basis: 33.33333%;
  }
  /* line 28, ../sass/layout/_grid.scss */
  .fg__col-xlarge-5 {
    flex-basis: 41.66667%;
  }
  /* line 28, ../sass/layout/_grid.scss */
  .fg__col-xlarge-6 {
    flex-basis: 50%;
  }
  /* line 28, ../sass/layout/_grid.scss */
  .fg__col-xlarge-7 {
    flex-basis: 58.33333%;
  }
  /* line 28, ../sass/layout/_grid.scss */
  .fg__col-xlarge-8 {
    flex-basis: 66.66667%;
  }
  /* line 28, ../sass/layout/_grid.scss */
  .fg__col-xlarge-9 {
    flex-basis: 75%;
  }
  /* line 28, ../sass/layout/_grid.scss */
  .fg__col-xlarge-10 {
    flex-basis: 83.33333%;
  }
  /* line 28, ../sass/layout/_grid.scss */
  .fg__col-xlarge-11 {
    flex-basis: 91.66667%;
  }
  /* line 28, ../sass/layout/_grid.scss */
  .fg__col-xlarge-12 {
    flex-basis: 100%;
  }
}

/* line 60, ../sass/layout/_grid.scss */
.fg--debug__container {
  background-color: #88d8b0;
  padding: 10px;
}
/* line 65, ../sass/layout/_grid.scss */
.fg--debug__row {
  background-color: #ffeead;
}
/* line 69, ../sass/layout/_grid.scss */
.fg--debug [class*="fg__col-"] {
  width: 150px;
  min-height: 30px;
  background-color: #ff6f69;
  outline: 1px solid #ffcc5c;
  margin: 10px 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-around;
}

/**/
/* Header*/
/* */
/* Set up styles for the header region*/
/**/
/* line 7, ../sass/layout/_header.scss */
.header {
  border-bottom: 1px solid #F1F1F1;
  opacity: 1;
  -webkit-transition: opacity, 200ms;
  transition: opacity, 200ms;
  /* Menu layout*/
}
@media (min-width: 769px) {
  /* line 14, ../sass/layout/_header.scss */
  .header--fixed {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 101;
  }
  /* line 22, ../sass/layout/_header.scss */
  .header--fixed__utility-wrapper {
    display: none;
  }
}
/* line 28, ../sass/layout/_header.scss */
.header__search--trigger {
  font-size: 0.875em;
  color: #393942;
  cursor: pointer;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: end;
  justify-content: flex-end;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
@media (min-width: 769px) {
  /* line 28, ../sass/layout/_header.scss */
  .header__search--trigger {
    padding: 0;
  }
}
/* line 45, ../sass/layout/_header.scss */
.header__search--trigger:hover {
  color: #AD004A;
}
/* line 49, ../sass/layout/_header.scss */
.header__search--trigger:before {
  background-image: url("../assets/icons/svg/search.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px auto;
  content: "";
  display: inline-block;
  height: 24px;
  margin-right: 6px;
  width: 24px;
}
/* line 62, ../sass/layout/_header.scss */
.header .search-block-form form {
  max-width: none;
  position: relative;
}
/* line 66, ../sass/layout/_header.scss */
.header .search-block-form form .form-item {
  margin: 0;
  position: relative;
  top: 0;
}
/* line 71, ../sass/layout/_header.scss */
.header .search-block-form form .form-item input[type=search] {
  width: 100%;
  padding: 1em;
  padding-right: 7em;
}
/* line 78, ../sass/layout/_header.scss */
.header .search-block-form form .form-actions {
  position: absolute;
  right: 0.75em;
  top: 0;
  bottom: 0;
  margin: 0;
}
/* line 85, ../sass/layout/_header.scss */
.header .search-block-form form .form-actions input[type=submit] {
  z-index: 1;
  width: 6em;
  padding: 0;
  cursor: pointer;
  box-shadow: none;
  border-radius: 0;
  display: inline-block;
  padding: 0;
  background-color: #FFFFFF;
  border: 0;
  font-size: 0;
}
/* line 101, ../sass/layout/_header.scss */
.header__utility-wrapper {
  background: #F7F7F7;
  color: #D8D8D8;
  padding: 0 1.5em;
}
/* line 107, ../sass/layout/_header.scss */
.header__logo a {
  display: block;
}
/* line 110, ../sass/layout/_header.scss */
.header__logo a img {
  width: 100%;
}
@media all and (min-width: 769px) {
  /* line 116, ../sass/layout/_header.scss */
  .header__main-wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
  }
}
@media all and (max-width: 768px) {
  /* line 116, ../sass/layout/_header.scss */
  .header__main-wrapper {
    display: -ms-grid;
    display: grid;
    grid-row-gap: 25px;
    grid-template-columns: 1fr 1fr;
  }
  /* line 136, ../sass/layout/_header.scss */
  .header__main-wrapper .header__logo {
    -ms-grid-column: 2;
    -ms-grid-column-span: -1;
    grid-column: 2 / 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: -1;
    grid-row: 2 / 1;
    -ms-grid-row-align: center;
    align-self: center;
  }
  /* line 147, ../sass/layout/_header.scss */
  .header__main-wrapper .header__primaryNav {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  /* line 152, ../sass/layout/_header.scss */
  .header__main-wrapper .header__primaryNav ul.menu {
    display: none;
  }
  /* line 158, ../sass/layout/_header.scss */
  .header__main-wrapper .mobileNav__trigger {
    -ms-grid-column: 2;
    grid-column: 2 / 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: -1;
    grid-row: 2 / 1;
  }
}

/* line 2, ../sass/layout/_setup.scss */
.main-content__no-sidebars {
  padding: 2em 1.5em;
}
/* line 6, ../sass/layout/_setup.scss */
.main-content__no-sidebars-span {
  max-width: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
/* line 13, ../sass/layout/_setup.scss */
.main-content__sidebars {
  display: -ms-grid;
  display: grid;
}
@media (min-width: 769px) {
  /* line 17, ../sass/layout/_setup.scss */
  .main-content__sidebars--first {
    grid-template-columns: 1fr 2fr;
    grid-row-start: 1;
  }
}
/* line 23, ../sass/layout/_setup.scss */
.main-content__sidebars--first article {
  padding: 1.125em;
}
@media (min-width: 769px) {
  /* line 23, ../sass/layout/_setup.scss */
  .main-content__sidebars--first article {
    grid-column: 2/span 1;
    grid-row-start: 1;
  }
}
@media (max-width: 768px) {
  /* line 23, ../sass/layout/_setup.scss */
  .main-content__sidebars--first article {
    grid-row-start: 2;
  }
}
@media (min-width: 769px) {
  /* line 36, ../sass/layout/_setup.scss */
  .main-content__sidebars--first aside {
    grid-column: 1 / span 1;
    grid-row-start: 1;
    padding: 1.125em;
  }
}
@media (max-width: 768px) {
  /* line 36, ../sass/layout/_setup.scss */
  .main-content__sidebars--first aside {
    grid-row-start: 1;
    padding: 1.125em 0;
  }
}
/* line 50, ../sass/layout/_setup.scss */
.main-content__sidebars--second {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 769px) {
  /* line 50, ../sass/layout/_setup.scss */
  .main-content__sidebars--second {
    grid-template-columns: 2fr 1fr;
    grid-row-start: 1;
    padding: 2em 1.125em;
  }
}
@media (max-width: 768px) {
  /* line 50, ../sass/layout/_setup.scss */
  .main-content__sidebars--second {
    padding: 0.75em;
  }
}
@media (min-width: 769px) {
  /* line 63, ../sass/layout/_setup.scss */
  .main-content__sidebars--second article {
    grid-column: 1 / span 1;
    grid-row-start: 1;
  }
}
@media (min-width: 769px) {
  /* line 70, ../sass/layout/_setup.scss */
  .main-content__sidebars--second aside {
    grid-column: 2/span 1;
    grid-row-start: 1;
    padding-top: 2em;
  }
}
@media (max-width: 768px) {
  /* line 70, ../sass/layout/_setup.scss */
  .main-content__sidebars--second aside {
    padding-top: 1.125em;
  }
}

/* line 7, ../sass/layout/_navigation.scss */
ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media screen and (min-width: 769px) {
  /* line 12, ../sass/layout/_navigation.scss */
  ul.menu--inline {
    display: -webkit-inline-box;
    display: inline-flex;
  }
}
/* line 20, ../sass/layout/_navigation.scss */
ul.menu__main-menu li.menu__item {
  -webkit-transition: color 250ms ease;
  transition: color 250ms ease;
}
/* line 24, ../sass/layout/_navigation.scss */
ul.menu__main-menu li.menu__item a {
  font-size: 18px;
  color: #393942;
  line-height: 1.5;
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
}
/* line 32, ../sass/layout/_navigation.scss */
ul.menu__main-menu li.menu__item a:hover {
  color: #AD004A;
}
/* line 36, ../sass/layout/_navigation.scss */
ul.menu__main-menu li.menu__item a:focus {
  text-decoration: underline;
}
/* line 41, ../sass/layout/_navigation.scss */
ul.menu__main-menu li.menu__item--collapsed {
  position: relative;
}
/* line 45, ../sass/layout/_navigation.scss */
ul.menu__main-menu li.menu__item--collapsed span:after {
  background-image: url("../assets/icons/svg/down-chevron.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  display: block;
  height: 6px;
  position: absolute;
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
  width: 10px;
  z-index: 1;
}
/* line 61, ../sass/layout/_navigation.scss */
ul.menu__main-menu li.menu__item--collapsed span:after::-ms-expand {
  display: none;
}
/* line 66, ../sass/layout/_navigation.scss */
ul.menu__main-menu li.menu__item--collapsed span.active:after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
@media (max-width: 767px) {
  /* line 19, ../sass/layout/_navigation.scss */
  ul.menu__main-menu {
    display: block;
  }
  /* line 79, ../sass/layout/_navigation.scss */
  ul.menu__main-menu li.menu__item {
    padding: 0;
    border-bottom: 1px solid #FFFFFF;
  }
  /* line 83, ../sass/layout/_navigation.scss */
  ul.menu__main-menu li.menu__item a, ul.menu__main-menu li.menu__item span {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: block;
    padding: 8px 1.5em;
    color: #FFFFFF;
  }
  /* line 90, ../sass/layout/_navigation.scss */
  ul.menu__main-menu li.menu__item > ul.menu__main-menu li.menu__item a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 8px 1.5em 8px 2.5em;
  }
  /* line 95, ../sass/layout/_navigation.scss */
  ul.menu__main-menu li.menu__item:last-of-type {
    border-bottom: 0 !important;
  }
  /* line 101, ../sass/layout/_navigation.scss */
  ul.menu__main-menu li.menu__item--expanded > ul {
    display: none;
  }
  /* line 104, ../sass/layout/_navigation.scss */
  ul.menu__main-menu li.menu__item--expanded > ul li a {
    text-transform: none;
    font-weight: 700;
  }
  /* line 108, ../sass/layout/_navigation.scss */
  ul.menu__main-menu li.menu__item--expanded > ul li a.is-active {
    background-image: url("../assets/icons/svg/arrow-full-right-white.svg");
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: top 15px left 23px;
  }
  /* line 117, ../sass/layout/_navigation.scss */
  ul.menu__main-menu li.menu__item--expanded > a, ul.menu__main-menu li.menu__item--expanded > span {
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: center right 25px;
  }
  /* line 122, ../sass/layout/_navigation.scss */
  ul.menu__main-menu li.menu__item--expanded > a.child-menu-active, ul.menu__main-menu li.menu__item--expanded > span.child-menu-active {
    background-image: url("../assets/icons/svg/arrow-full-up-white.svg") !important;
  }
  /* line 129, ../sass/layout/_navigation.scss */
  ul.menu__main-menu.main-menu {
    background-color: #AD004A;
  }
  /* line 133, ../sass/layout/_navigation.scss */
  ul.menu__main-menu.main-menu > li.menu__item--expanded > a, ul.menu__main-menu.main-menu > li.menu__item--expanded > span {
    background-image: url("../assets/icons/svg/arrow-full-down-white.svg");
  }
  /* line 137, ../sass/layout/_navigation.scss */
  ul.menu__main-menu.main-menu > li.menu__item--expanded > ul {
    background-color: #8A003B;
  }
  /* line 141, ../sass/layout/_navigation.scss */
  ul.menu__main-menu.main-menu > li.menu__item--expanded:last-of-type > ul {
    margin-bottom: 0;
  }
}
/* line 151, ../sass/layout/_navigation.scss */
ul.menu__sidebar li.menu__sidebar__item {
  margin-left: 0;
}
/* line 154, ../sass/layout/_navigation.scss */
ul.menu__sidebar li.menu__sidebar__item a,
ul.menu__sidebar li.menu__sidebar__item span {
  font-size: 16px;
  cursor: pointer;
  display: block;
}
@media (min-width: 769px) {
  /* line 154, ../sass/layout/_navigation.scss */
  ul.menu__sidebar li.menu__sidebar__item a,
  ul.menu__sidebar li.menu__sidebar__item span {
    padding: 0.5em 0.5em 0.5em 2.5em;
  }
}
@media (max-width: 768px) {
  /* line 154, ../sass/layout/_navigation.scss */
  ul.menu__sidebar li.menu__sidebar__item a,
  ul.menu__sidebar li.menu__sidebar__item span {
    padding: 0.5em 0;
  }
}
/* line 168, ../sass/layout/_navigation.scss */
ul.menu__sidebar li.menu__sidebar__item a:link, ul.menu__sidebar li.menu__sidebar__item a:visited,
ul.menu__sidebar li.menu__sidebar__item span:link,
ul.menu__sidebar li.menu__sidebar__item span:visited {
  color: #393942;
}
/* line 173, ../sass/layout/_navigation.scss */
ul.menu__sidebar li.menu__sidebar__item a.is-active, ul.menu__sidebar li.menu__sidebar__item a:hover,
ul.menu__sidebar li.menu__sidebar__item span.is-active,
ul.menu__sidebar li.menu__sidebar__item span:hover {
  color: #AD004A;
}
/* line 179, ../sass/layout/_navigation.scss */
ul.menu__sidebar li.menu__sidebar__item span {
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #efccdb;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
/* line 190, ../sass/layout/_navigation.scss */
ul.menu__sidebar li.menu__sidebar__item span:after {
  background-image: url("../assets/icons/svg/arrow--down.svg");
  background-repeat: no-repeat;
  content: '';
  display: block;
  height: 8px;
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
  width: 14px;
  z-index: 1;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
/* line 205, ../sass/layout/_navigation.scss */
ul.menu__sidebar li.menu__sidebar__item span:after::-ms-expand {
  display: none;
}
/* line 210, ../sass/layout/_navigation.scss */
ul.menu__sidebar li.menu__sidebar__item span.menu__sidebar--open:after {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
/* line 216, ../sass/layout/_navigation.scss */
ul.menu__sidebar li.menu__sidebar__item a.is-active {
  border-left: 4px solid #AD004A;
  color: #AD004A;
  padding: 0.5em 0 0.5em 2.5em;
}
/* line 225, ../sass/layout/_navigation.scss */
ul.menu__sidebar li.menu__sidebar__item--expanded > ul {
  display: none;
}
/* line 228, ../sass/layout/_navigation.scss */
ul.menu__sidebar li.menu__sidebar__item--expanded > ul > li.menu__sidebar__item {
  margin-left: 15px;
}
/* line 234, ../sass/layout/_navigation.scss */
ul.menu__sidebar li.menu__sidebar__item--collapsed {
  position: relative;
}
/* line 238, ../sass/layout/_navigation.scss */
ul.menu__sidebar li.menu__sidebar__item--collapsed span:after {
  background-image: url("../assets/icons/svg/down-chevron.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  display: block;
  height: 6px;
  position: absolute;
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
  width: 10px;
  z-index: 1;
}
/* line 254, ../sass/layout/_navigation.scss */
ul.menu__sidebar li.menu__sidebar__item--collapsed span:after::-ms-expand {
  display: none;
}
/* line 259, ../sass/layout/_navigation.scss */
ul.menu__sidebar li.menu__sidebar__item--collapsed span.active:after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 270, ../sass/layout/_navigation.scss */
.menu__mega-menu {
  position: absolute;
  left: 0;
  display: none;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
/* line 278, ../sass/layout/_navigation.scss */
.menu__mega-menu.active {
  display: block;
}
/* line 282, ../sass/layout/_navigation.scss */
.menu__mega-menu--container {
  position: relative;
  background-color: #AD004A;
  padding: 2em;
}
/* line 288, ../sass/layout/_navigation.scss */
.menu__mega-menu--main-wrapper {
  border-radius: 5px;
  background-color: #FFFFFF;
  padding: 2em;
}
/* line 293, ../sass/layout/_navigation.scss */
.menu__mega-menu--main-wrapper .mega-menu {
  display: -webkit-box;
  display: flex;
}
/* line 298, ../sass/layout/_navigation.scss */
.menu__mega-menu--main-wrapper .mega-menu ul li.mega-menu__item {
  display: block;
}
/* line 301, ../sass/layout/_navigation.scss */
.menu__mega-menu--main-wrapper .mega-menu ul li.mega-menu__item--title span {
  font-weight: 700;
}
/* line 305, ../sass/layout/_navigation.scss */
.menu__mega-menu--main-wrapper .mega-menu ul li.mega-menu__item a {
  -webkit-transition: color 0.25s ease 0s;
  transition: color 0.25s ease 0s;
  color: #393942;
}
/* line 310, ../sass/layout/_navigation.scss */
.menu__mega-menu--main-wrapper .mega-menu ul li.mega-menu__item a:hover {
  color: #AD004A;
}

/* line 321, ../sass/layout/_navigation.scss */
ul.pager__items,
ul.js-pager__items {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 1.5em 0;
}
/* line 331, ../sass/layout/_navigation.scss */
ul.pager__items li,
ul.js-pager__items li {
  list-style: none;
  border-radius: 0;
  color: #393942;
  margin: 0 6px;
  -webkit-transition: all 350ms;
  transition: all 350ms;
}
/* line 339, ../sass/layout/_navigation.scss */
ul.pager__items li.is-active a,
ul.js-pager__items li.is-active a {
  background-color: #393942;
  border-color: #393942;
  color: #FFFFFF;
}
/* line 345, ../sass/layout/_navigation.scss */
ul.pager__items li:first-child,
ul.js-pager__items li:first-child {
  border-radius: 6px 0 0 6px;
  margin-left: 0;
}
/* line 350, ../sass/layout/_navigation.scss */
ul.pager__items li:last-child,
ul.js-pager__items li:last-child {
  border-radius: 0 6px 6px 0;
}
/* line 354, ../sass/layout/_navigation.scss */
ul.pager__items li.first.last,
ul.js-pager__items li.first.last {
  border-radius: 6px;
}
/* line 358, ../sass/layout/_navigation.scss */
ul.pager__items li.pager-current,
ul.js-pager__items li.pager-current {
  background: #8A003B;
  border-color: #8A003B;
  line-height: 2;
  padding: 0.5em 1em !important;
}
/* line 364, ../sass/layout/_navigation.scss */
ul.pager__items li.pager-current:hover,
ul.js-pager__items li.pager-current:hover {
  background: #8A003B;
  color: #FFFFFF;
  cursor: default;
}
/* line 371, ../sass/layout/_navigation.scss */
ul.pager__items li.pager__item--ellipsis,
ul.js-pager__items li.pager__item--ellipsis {
  border: 1px solid #D5D5D6;
  background-color: #FFFFFF;
  color: #393942;
  display: block;
  line-height: 2;
  padding: 6px 12px;
}
/* line 380, ../sass/layout/_navigation.scss */
ul.pager__items li a,
ul.js-pager__items li a {
  border: 1px solid #D5D5D6;
  background-color: #FFFFFF;
  color: #393942;
  display: block;
  line-height: 2;
  padding: 6px 12px;
}
/* line 388, ../sass/layout/_navigation.scss */
ul.pager__items li a:hover,
ul.js-pager__items li a:hover {
  background-color: #393942;
  border-color: #393942;
  color: #FFFFFF;
}

/**/
/* Mobile Menu*/
/* */
/* Set up styles for the mobile*/
/**/
/* increase this to see the transformations in slow-motion*/
/* line 416, ../sass/layout/_navigation.scss */
.mobileNav {
  background: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
  position: relative;
  text-indent: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
/* line 433, ../sass/layout/_navigation.scss */
.mobileNav.active {
  -webkit-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
}
/* line 438, ../sass/layout/_navigation.scss */
.mobileNav--close .mobileNav__lines {
  /*hide the middle line*/
  background: transparent;
  /*overlay the lines by setting both their top values to 0*/
  /* rotate the lines to form the x shape*/
}
/* line 443, ../sass/layout/_navigation.scss */
.mobileNav--close .mobileNav__lines:before, .mobileNav--close .mobileNav__lines:after {
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  top: 0;
  width: 25px;
}
/* line 452, ../sass/layout/_navigation.scss */
.mobileNav--close .mobileNav__lines:before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}
/* line 456, ../sass/layout/_navigation.scss */
.mobileNav--close .mobileNav__lines:after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}
/* line 461, ../sass/layout/_navigation.scss */
.mobileNav__trigger {
  color: #AD004A;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.625em;
  text-decoration: none;
  /* rotate the lines to form the x shape*/
}
@media all and (min-width: 769px) {
  /* line 461, ../sass/layout/_navigation.scss */
  .mobileNav__trigger {
    display: none;
  }
}
@media all and (max-width: 768px) {
  /* line 461, ../sass/layout/_navigation.scss */
  .mobileNav__trigger {
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    margin-left: 20px;
    justify-self: flex-end;
  }
}
/* line 485, ../sass/layout/_navigation.scss */
.mobileNav__lines {
  /*create middle line*/
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #AD004A;
  display: inline-block;
  height: 4px;
  top: 0;
  vertical-align: middle;
  position: relative;
  width: 25px;
  /*create the upper and lower lines as pseudo-elements of the middle line*/
}
/* line 493, ../sass/layout/_navigation.scss */
.mobileNav__lines:before, .mobileNav__lines:after {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #AD004A;
  display: inline-block;
  height: 4px;
  top: 0;
  vertical-align: middle;
  -webkit-transform-origin: 1.78571px center;
  transform-origin: 1.78571px center;
  content: '';
  position: absolute;
  left: 0;
}
/* line 502, ../sass/layout/_navigation.scss */
.mobileNav__lines:before {
  top: 8px;
  width: 25px;
}
/* line 507, ../sass/layout/_navigation.scss */
.mobileNav__lines:after {
  top: -8px;
  width: 25px;
}
@media all and (max-width: 768px) {
  /* line 513, ../sass/layout/_navigation.scss */
  .mobileNav__label {
    font-size: 1.125em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.2;
    color: #393942;
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
  }
}

/**/
/* Sidebar*/
/* */
/* Set up styles for the sidebar regions*/
/**/
@media (min-width: 769px) {
  /* line 9, ../sass/layout/_sidebar.scss */
  aside .mobileNav__trigger--sidebar {
    display: none;
  }
}
@media (max-width: 768px) {
  /* line 15, ../sass/layout/_sidebar.scss */
  aside .mobileNav__trigger--sidebar {
    font-size: 1.125em;
    display: block;
    line-height: 1.5;
    padding: 0 0.75em;
    cursor: pointer;
  }
  /* line 22, ../sass/layout/_sidebar.scss */
  aside .mobileNav__trigger--sidebar:link, aside .mobileNav__trigger--sidebar:visited {
    color: #D8D8D8;
  }
  /* line 27, ../sass/layout/_sidebar.scss */
  aside .mobileNav__trigger--sidebar.is-active, aside .mobileNav__trigger--sidebar:hover {
    color: #AD004A;
  }
  /* line 33, ../sass/layout/_sidebar.scss */
  aside ul.menu__sidebar {
    display: none;
    margin-top: 0.5em;
  }
  /* line 37, ../sass/layout/_sidebar.scss */
  aside ul.menu__sidebar.active {
    display: block;
  }
  /* line 41, ../sass/layout/_sidebar.scss */
  aside ul.menu__sidebar li {
    display: block;
    margin-right: 0;
    line-height: 1.5;
  }
}

/* line 3, ../sass/layout/_one_column.scss */
.paragraph--type--custom-layout > .paragraph + .paragraph {
  margin-top: 1.5em;
}
/* line 4, ../sass/layout/_one_column.scss */
.paragraph--type--custom-layout > .paragraph:last-child {
  margin-bottom: 1.5em;
}
/* line 5, ../sass/layout/_one_column.scss */
.paragraph--type--custom-layout > .paragraph .paragraph--item {
  /* IE10+ fallbacks for row gap */
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* line 5, ../sass/layout/_one_column.scss */
  .paragraph--type--custom-layout > .paragraph .paragraph--item {
    margin-left: 9px;
    margin-right: 9px;
  }
}
@media (min-width: 769px) {
  /* line 13, ../sass/layout/_one_column.scss */
  .paragraph--type--custom-layout .paragraph--item {
    overflow: hidden;
  }
}

@media (max-width: 1024px) {
  /* line 20, ../sass/layout/_one_column.scss */
  .paragraph--type--one-column.container {
    padding: 0 25px;
  }
}

/* line 1, ../sass/layout/_three_columns.scss */
.paragraph--type--three-columns {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 18px;
}
/* line 2, ../sass/layout/_three_columns.scss */
.paragraph--type--three-columns.container {
  padding: 0 1.5em;
}
@media (min-width: 769px) {
  /* line 1, ../sass/layout/_three_columns.scss */
  .paragraph--type--three-columns {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  /* line 7, ../sass/layout/_three_columns.scss */
  .paragraph--type--three-columns .paragraph--item:nth-child(1) {
    grid-column: 1/span 1;
  }
  /* line 10, ../sass/layout/_three_columns.scss */
  .paragraph--type--three-columns .paragraph--item:nth-child(2) {
    grid-column: 2/span 1;
  }
  /* line 13, ../sass/layout/_three_columns.scss */
  .paragraph--type--three-columns .paragraph--item:nth-child(3) {
    grid-column: 3/span 1;
  }
}
@media (min-width: 641px) and (max-width: 769px) {
  /* line 18, ../sass/layout/_three_columns.scss */
  .paragraph--type--three-columns .card {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 18px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-grid-columns: 1fr 2.5fr;
    grid-template-columns: 1fr 2.5fr;
  }
  /* line 25, ../sass/layout/_three_columns.scss */
  .paragraph--type--three-columns .card .image-wrapper {
    grid-column-start: 1;
    margin-top: 20px;
  }
  /* line 29, ../sass/layout/_three_columns.scss */
  .paragraph--type--three-columns .card .content-wrapper {
    grid-column-start: 2;
  }
}

/* line 2, ../sass/layout/_three_columns_centre.scss */
.paragraph--type--three-columns-centre.container {
  padding: 0 1.5em;
}
@media (max-width: 640px) {
  /* line 1, ../sass/layout/_three_columns_centre.scss */
  .paragraph--type--three-columns-centre {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 1.5em;
    grid-row-gap: 1.5em;
  }
  /* line 8, ../sass/layout/_three_columns_centre.scss */
  .paragraph--type--three-columns-centre .paragraph--item:first-of-type {
    -ms-grid-row: 2;
    grid-row-start: 2;
  }
  /* line 12, ../sass/layout/_three_columns_centre.scss */
  .paragraph--type--three-columns-centre .paragraph--item:last-of-type {
    -ms-grid-row: 3;
    grid-row-start: 3;
  }
  /* line 16, ../sass/layout/_three_columns_centre.scss */
  .paragraph--type--three-columns-centre .paragraph--item--pull {
    -ms-grid-row: 1;
    grid-row-start: 1;
  }
}
@media (min-width: 641px) and (max-width: 767px) {
  /* line 1, ../sass/layout/_three_columns_centre.scss */
  .paragraph--type--three-columns-centre {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 1.5em;
    grid-row-gap: 1.5em;
  }
  /* line 26, ../sass/layout/_three_columns_centre.scss */
  .paragraph--type--three-columns-centre .paragraph--item {
    -ms-grid-row: 2;
    grid-row-start: 2;
  }
  /* line 30, ../sass/layout/_three_columns_centre.scss */
  .paragraph--type--three-columns-centre .paragraph--item--pull {
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/span 2;
  }
}
@media (min-width: 768px) {
  /* line 1, ../sass/layout/_three_columns_centre.scss */
  .paragraph--type--three-columns-centre {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 1.5em;
    -ms-grid-columns: 1fr 1.78fr 1fr;
    grid-template-columns: 1fr 1.78fr 1fr;
  }
  /* line 44, ../sass/layout/_three_columns_centre.scss */
  .paragraph--type--three-columns-centre .paragraph--item:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/span 1;
  }
  /* line 49, ../sass/layout/_three_columns_centre.scss */
  .paragraph--type--three-columns-centre .paragraph--item--pull {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/span 1;
  }
  /* line 54, ../sass/layout/_three_columns_centre.scss */
  .paragraph--type--three-columns-centre .paragraph--item:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/span 1;
  }
}

/* line 2, ../sass/layout/_three_columns_pull_left.scss */
.paragraph--type--three-columns-pull-left.container {
  padding: 0 1.5em;
}
@media (max-width: 640px) {
  /* line 1, ../sass/layout/_three_columns_pull_left.scss */
  .paragraph--type--three-columns-pull-left {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 1.5em;
    grid-row-gap: 1.5em;
  }
}
@media (min-width: 641px) and (max-width: 767px) {
  /* line 1, ../sass/layout/_three_columns_pull_left.scss */
  .paragraph--type--three-columns-pull-left {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 1.5em;
    grid-row-gap: 1.5em;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  /* line 16, ../sass/layout/_three_columns_pull_left.scss */
  .paragraph--type--three-columns-pull-left .paragraph--item:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/span 1;
  }
  /* line 21, ../sass/layout/_three_columns_pull_left.scss */
  .paragraph--type--three-columns-pull-left .paragraph--item:nth-child(3) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/span 1;
  }
  /* line 26, ../sass/layout/_three_columns_pull_left.scss */
  .paragraph--type--three-columns-pull-left .paragraph--item--pull {
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/span 2;
  }
}
@media (min-width: 768px) {
  /* line 1, ../sass/layout/_three_columns_pull_left.scss */
  .paragraph--type--three-columns-pull-left {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 1.5em;
    -ms-grid-columns: 3fr 1.7fr 1.7fr;
    grid-template-columns: 3fr 1.7fr 1.7fr;
  }
  /* line 40, ../sass/layout/_three_columns_pull_left.scss */
  .paragraph--type--three-columns-pull-left .paragraph--item--pull {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/span 1;
  }
  /* line 45, ../sass/layout/_three_columns_pull_left.scss */
  .paragraph--type--three-columns-pull-left .paragraph--item:nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/span 1;
  }
  /* line 50, ../sass/layout/_three_columns_pull_left.scss */
  .paragraph--type--three-columns-pull-left .paragraph--item:nth-child(3) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/span 1;
  }
}

/* line 2, ../sass/layout/_three_columns_pull_right.scss */
.paragraph--type--three-columns-pull-right.container {
  padding: 0 1.5em;
}
@media (max-width: 640px) {
  /* line 1, ../sass/layout/_three_columns_pull_right.scss */
  .paragraph--type--three-columns-pull-right {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 1.5em;
    grid-row-gap: 1.5em;
  }
  /* line 8, ../sass/layout/_three_columns_pull_right.scss */
  .paragraph--type--three-columns-pull-right .paragraph--item--pull {
    -ms-grid-row: 1;
    grid-row-start: 1;
  }
}
@media (min-width: 641px) and (max-width: 767px) {
  /* line 1, ../sass/layout/_three_columns_pull_right.scss */
  .paragraph--type--three-columns-pull-right {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 1.5em;
    grid-row-gap: 1.5em;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  /* line 20, ../sass/layout/_three_columns_pull_right.scss */
  .paragraph--type--three-columns-pull-right .paragraph--item:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/span 1;
  }
  /* line 25, ../sass/layout/_three_columns_pull_right.scss */
  .paragraph--type--three-columns-pull-right .paragraph--item:nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/span 1;
  }
  /* line 30, ../sass/layout/_three_columns_pull_right.scss */
  .paragraph--type--three-columns-pull-right .paragraph--item--pull {
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/span 2;
  }
}
@media (min-width: 768px) {
  /* line 1, ../sass/layout/_three_columns_pull_right.scss */
  .paragraph--type--three-columns-pull-right {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 1.5em;
    -ms-grid-columns: 1.7fr 1.7fr 2.9fr;
    grid-template-columns: 1.7fr 1.7fr 2.9fr;
  }
  /* line 44, ../sass/layout/_three_columns_pull_right.scss */
  .paragraph--type--three-columns-pull-right .paragraph--item:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/span 1;
  }
  /* line 49, ../sass/layout/_three_columns_pull_right.scss */
  .paragraph--type--three-columns-pull-right .paragraph--item:nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/span 1;
  }
  /* line 54, ../sass/layout/_three_columns_pull_right.scss */
  .paragraph--type--three-columns-pull-right .paragraph--item--pull {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/span 2;
  }
}

/* line 2, ../sass/layout/_two_columns.scss */
.paragraph--type--two-columns.container {
  padding: 0 1.5em;
}
@media (max-width: 768px) {
  /* line 2, ../sass/layout/_two_columns.scss */
  .paragraph--type--two-columns.container {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 1.5em;
  }
}
@media (min-width: 769px) {
  /* line 2, ../sass/layout/_two_columns.scss */
  .paragraph--type--two-columns.container {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 1.5em;
  }
}
@media (max-width: 768px) {
  /* line 1, ../sass/layout/_two_columns.scss */
  .paragraph--type--two-columns {
    display: -ms-grid;
    display: grid;
  }
}
@media (min-width: 769px) {
  /* line 1, ../sass/layout/_two_columns.scss */
  .paragraph--type--two-columns {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  /* line 24, ../sass/layout/_two_columns.scss */
  .paragraph--type--two-columns .paragraph--item:first-of-type {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
  }
  /* line 29, ../sass/layout/_two_columns.scss */
  .paragraph--type--two-columns .paragraph--item:last-of-type {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
  }
}
/* line 35, ../sass/layout/_two_columns.scss */
.paragraph--type--two-columns .paragraph--type--block {
  height: 100%;
}

@media (max-width: 767px) {
  /* line 1, ../sass/layout/_two_columns_pull_left.scss */
  .paragraph--type--two-columns-pull-left {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 1.5em;
    grid-row-gap: 1.5em;
  }
  /* line 7, ../sass/layout/_two_columns_pull_left.scss */
  .paragraph--type--two-columns-pull-left.container {
    padding: 0 1.5em 1.5em;
  }
}
@media (min-width: 768px) {
  /* line 1, ../sass/layout/_two_columns_pull_left.scss */
  .paragraph--type--two-columns-pull-left {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 1.5em;
    -ms-grid-columns: 3fr 1.7fr;
    grid-template-columns: 3fr 1.7fr;
  }
  /* line 15, ../sass/layout/_two_columns_pull_left.scss */
  .paragraph--type--two-columns-pull-left.container {
    padding: 0 1.5em;
  }
  /* line 16, ../sass/layout/_two_columns_pull_left.scss */
  .paragraph--type--two-columns-pull-left .paragraph--item:first-of-type {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/span 1;
  }
  /* line 21, ../sass/layout/_two_columns_pull_left.scss */
  .paragraph--type--two-columns-pull-left .paragraph--item:last-of-type {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/span 1;
  }
}

/* line 2, ../sass/layout/_two_columns_pull_right.scss */
.paragraph--type--two-columns-pull-right.container {
  padding: 0 1.5em;
}
@media (max-width: 767px) {
  /* line 1, ../sass/layout/_two_columns_pull_right.scss */
  .paragraph--type--two-columns-pull-right {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 1.5em;
    grid-row-gap: 1.5em;
  }
}
@media (min-width: 768px) {
  /* line 1, ../sass/layout/_two_columns_pull_right.scss */
  .paragraph--type--two-columns-pull-right {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 1.5em;
    -ms-grid-columns: 1.06fr 3fr;
    grid-template-columns: 1.06fr 3fr;
  }
  /* line 15, ../sass/layout/_two_columns_pull_right.scss */
  .paragraph--type--two-columns-pull-right .paragraph--item:first-of-type {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/span 1;
  }
  /* line 20, ../sass/layout/_two_columns_pull_right.scss */
  .paragraph--type--two-columns-pull-right .paragraph--item:last-of-type {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/span 1;
  }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //*/
/*  Page Styling                                               //*/
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //*/
/**/
/* Setup*/
/* */
/* Set up default styles for global page layouts*/
/* line 8, ../sass/pages/_setup.scss */
.main-content__sidebars--first aside {
  background-color: rgba(216, 216, 216, 0.2);
}
@media (min-width: 769px) {
  /* line 8, ../sass/pages/_setup.scss */
  .main-content__sidebars--first aside {
    display: -webkit-box;
    display: flex;
    border-right: 1px solid #F1F1F1;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: right;
  }
}

/* line 23, ../sass/pages/_setup.scss */
table {
  border-collapse: collapse;
  border: 1px solid black;
}
/* line 27, ../sass/pages/_setup.scss */
table thead th {
  font-weight: 700;
}
/* line 31, ../sass/pages/_setup.scss */
table th, table td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //*/
/*  Theming                                                    //*/
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //*/
/**/
/* Drupal*/
/* */
/* Any dependancies for Drupal websites*/
/**/
/* */
/* Responsive images*/
/* */
/* line 10, ../sass/theme/_drupal.scss */
picture,
img {
  border: 0;
  vertical-align: top;
  max-width: 100%;
  height: auto;
  width: auto;
}

/**/
/* Drupal admin edit tabs*/
/* */
/* line 22, ../sass/theme/_drupal.scss */
.movement-block {
  background: #D8D8D8;
  border-radius: 20px;
  display: none;
  height: 150px;
  left: 50%;
  padding: 30px;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 150px;
  z-index: 10000;
  box-shadow: -1px 1px 3px 0 rgba(0, 0, 0, 0.2);
}
/* line 37, ../sass/theme/_drupal.scss */
.movement-block .close {
  background-image: url("../assets/icons/svg/drupal-theme/close.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
}
/* line 49, ../sass/theme/_drupal.scss */
.movement-block .movement-arrow {
  background-image: url("../assets/icons/svg/drupal-theme/move.svg");
  height: 30px;
  position: absolute;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  width: 30px;
}
/* line 57, ../sass/theme/_drupal.scss */
.movement-block .movement-arrow:hover {
  opacity: 0.5;
}
/* line 61, ../sass/theme/_drupal.scss */
.movement-block .movement-arrow.click-to-hide {
  background-image: url("../assets/icons/svg/drupal-theme/view.svg");
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 69, ../sass/theme/_drupal.scss */
.movement-block .movement-arrow.up {
  background-image: url("../assets/icons/svg/drupal-theme/up.svg");
  left: 50%;
  top: 20px;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
/* line 77, ../sass/theme/_drupal.scss */
.movement-block .movement-arrow.down {
  background-image: url("../assets/icons/svg/drupal-theme/down.svg");
  bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
/* line 85, ../sass/theme/_drupal.scss */
.movement-block .movement-arrow.left {
  background-image: url("../assets/icons/svg/drupal-theme/left.svg");
  left: 20px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
/* line 93, ../sass/theme/_drupal.scss */
.movement-block .movement-arrow.right {
  background-image: url("../assets/icons/svg/drupal-theme/right.svg");
  right: 20px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

/* line 103, ../sass/theme/_drupal.scss */
.hide-button {
  display: none;
}

/* line 107, ../sass/theme/_drupal.scss */
.edit-tabs {
  left: 10px;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  z-index: 20;
}
/* line 115, ../sass/theme/_drupal.scss */
.edit-tabs ul {
  box-shadow: -1px 1px 3px 0 rgba(0, 0, 0, 0.2);
  background: #cecece;
  border-radius: 30px;
  border: solid 2px #cecece;
  font-size: 0;
  list-style: none;
  overflow: hidden;
  padding: 0;
}
/* line 125, ../sass/theme/_drupal.scss */
.edit-tabs ul li {
  margin: 0;
  padding: 5px;
}
/* line 129, ../sass/theme/_drupal.scss */
.edit-tabs ul li:nth-child {
  display: none;
}
/* line 133, ../sass/theme/_drupal.scss */
.edit-tabs ul li a {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  background-color: #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 0;
  height: 40px;
  width: 40px;
}
/* line 134, ../sass/theme/_drupal.scss */
.edit-tabs ul li a.is-active {
  display: none !important;
}
/* line 148, ../sass/theme/_drupal.scss */
.edit-tabs ul li a:before {
  background-color: #FFFFFF;
  content: ' ';
  font-size: 20px;
  left: 0px;
  opacity: 0;
  padding: 5px 20px;
  pointer-events: none;
  position: absolute;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  z-index: -1;
}
/* line 162, ../sass/theme/_drupal.scss */
.edit-tabs ul li a:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
/* line 165, ../sass/theme/_drupal.scss */
.edit-tabs ul li a:hover:before {
  opacity: 1;
  left: 70px;
}
/* line 171, ../sass/theme/_drupal.scss */
.edit-tabs ul li a.view {
  background-image: url("../assets/icons/svg/drupal-theme/view.svg");
}
/* line 174, ../sass/theme/_drupal.scss */
.edit-tabs ul li a.view:before {
  content: 'View';
}
/* line 179, ../sass/theme/_drupal.scss */
.edit-tabs ul li a.Edit {
  background-image: url("../assets/icons/svg/drupal-theme/edit.svg");
}
/* line 182, ../sass/theme/_drupal.scss */
.edit-tabs ul li a.Edit:before {
  content: 'Edit';
}
/* line 187, ../sass/theme/_drupal.scss */
.edit-tabs ul li a.Delete {
  background-image: url("../assets/icons/svg/drupal-theme/delete.svg");
}
/* line 190, ../sass/theme/_drupal.scss */
.edit-tabs ul li a.Delete:before {
  content: 'Delete';
}
/* line 195, ../sass/theme/_drupal.scss */
.edit-tabs ul li a.Revisions {
  background-image: url("../assets/icons/svg/drupal-theme/history.svg");
}
/* line 198, ../sass/theme/_drupal.scss */
.edit-tabs ul li a.Revisions:before {
  content: 'History';
}
/* line 203, ../sass/theme/_drupal.scss */
.edit-tabs ul li a.Devel {
  background-image: url("../assets/icons/svg/drupal-theme/devel.svg");
}
/* line 206, ../sass/theme/_drupal.scss */
.edit-tabs ul li a.Devel:before {
  content: 'Devel';
}
/* line 211, ../sass/theme/_drupal.scss */
.edit-tabs ul li a.Clone {
  background-image: url("../assets/icons/svg/drupal-theme/clone.svg");
}
/* line 214, ../sass/theme/_drupal.scss */
.edit-tabs ul li a.Clone:before {
  content: 'Clone';
}
/* line 219, ../sass/theme/_drupal.scss */
.edit-tabs ul li a.clear {
  background-image: url("../assets/icons/svg/drupal-theme/clear.svg");
}
/* line 222, ../sass/theme/_drupal.scss */
.edit-tabs ul li a.clear:before {
  content: 'Cookies';
}
/* line 230, ../sass/theme/_drupal.scss */
.edit-tabs .is-active {
  display: none;
}
/* line 235, ../sass/theme/_drupal.scss */
.edit-tabs.hide ul.tabs {
  display: none;
}
/* line 239, ../sass/theme/_drupal.scss */
.edit-tabs.hide .hide-button {
  background-image: url(../assets/icons/svg/drupal-theme/move-verticle.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background: #cecece;
  border-radius: 0;
  border-radius: 30px;
  border: solid 2px #cecece;
  box-shadow: -1px 1px 3px 0 rgba(0, 0, 0, 0.2);
  display: block;
  height: 28px;
  margin-top: 0px !important;
  overflow: hidden;
  width: 28px;
}
/* line 257, ../sass/theme/_drupal.scss */
.edit-tabs.up {
  bottom: auto;
  left: 50%;
  right: auto;
  top: 100px;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
/* line 265, ../sass/theme/_drupal.scss */
.edit-tabs.up li {
  display: inline-block;
}
/* line 270, ../sass/theme/_drupal.scss */
.edit-tabs.down {
  bottom: 10px;
  left: 50%;
  right: auto;
  top: auto;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
/* line 278, ../sass/theme/_drupal.scss */
.edit-tabs.down li {
  display: inline-block;
}
/* line 283, ../sass/theme/_drupal.scss */
.edit-tabs.left {
  bottom: auto;
  left: 10px;
  right: auto;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
/* line 292, ../sass/theme/_drupal.scss */
.edit-tabs.right {
  bottom: auto;
  left: auto;
  right: 10px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
/* line 301, ../sass/theme/_drupal.scss */
.edit-tabs .movepod {
  background-image: url(../assets/icons/svg/drupal-theme/move.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
  height: 28px;
  margin-top: 0;
  width: 100%;
}

/* */
/* Messages*/
/* */
/* line 316, ../sass/theme/_drupal.scss */
.messages ul li {
  word-break: break-all;
}

/* line 320, ../sass/theme/_drupal.scss */
div[role="alert"] {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  background: no-repeat 10px 17px;
  /* LTR */
  background-color: #fdf8ed;
  background-image: url(../assets/icons/svg/warning.svg);
  border-color: #f4daa6 #f4daa6 #f4daa6 transparent;
  /* LTR */
  border-radius: 2px;
  border-width: 1px 1px 1px 0;
  /* LTR */
  border: 1px solid;
  box-shadow: -8px 0 0 #e09600;
  /* LTR */
  color: #734c00;
  margin: 1.5em auto;
  overflow-wrap: break-word;
  padding: 15px 20px 15px 35px;
  /* LTR */
  word-wrap: break-word;
  font-size: 0.875em;
}

/* Default message styles from seven theme*/
/* line 340, ../sass/theme/_drupal.scss */
.messages {
  background: no-repeat 10px 17px;
  /* LTR */
  border: 1px solid;
  border-width: 1px 1px 1px 0;
  /* LTR */
  border-radius: 2px;
  padding: 15px 20px 15px 35px;
  /* LTR */
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* line 350, ../sass/theme/_drupal.scss */
[dir="rtl"] .messages {
  border-width: 1px 0 1px 1px;
  background-position: right 10px top 17px;
  padding-left: 20px;
  padding-right: 35px;
  text-align: right;
}

/* line 358, ../sass/theme/_drupal.scss */
.messages + .messages {
  margin-top: 1.538em;
}

/* line 362, ../sass/theme/_drupal.scss */
.messages__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 368, ../sass/theme/_drupal.scss */
.messages__item + .messages__item {
  margin-top: 0.769em;
}

/* line 372, ../sass/theme/_drupal.scss */
.messages--status {
  color: #325e1c;
  background-color: #f3faef;
  border-color: #c9e1bd #c9e1bd #c9e1bd transparent;
  /* LTR */
  background-image: url(../assets/icons/svg/check.svg);
  box-shadow: -8px 0 0 #77b259;
  /* LTR */
}

/* line 380, ../sass/theme/_drupal.scss */
[dir="rtl"] .messages--status {
  border-color: #c9e1bd transparent #c9e1bd #c9e1bd;
  box-shadow: 8px 0 0 #77b259;
  margin-left: 0;
}

/* line 386, ../sass/theme/_drupal.scss */
.messages--warning {
  background-color: #fdf8ed;
  background-image: url(../assets/icons/svg/warning.svg);
  border-color: #f4daa6 #f4daa6 #f4daa6 transparent;
  /* LTR */
  color: #734c00;
  box-shadow: -8px 0 0 #e09600;
  /* LTR */
}

/* line 394, ../sass/theme/_drupal.scss */
[dir="rtl"] .messages--warning {
  border-color: #f4daa6 transparent #f4daa6 #f4daa6;
  box-shadow: 8px 0 0 #e09600;
}

/* line 399, ../sass/theme/_drupal.scss */
.messages--error {
  background-color: #fcf4f2;
  color: #a51b00;
  background-image: url(../assets/icons/svg/error.svg);
  border-color: #f9c9bf #f9c9bf #f9c9bf transparent;
  /* LTR */
  box-shadow: -8px 0 0 #e62600;
  /* LTR */
}

/* line 407, ../sass/theme/_drupal.scss */
[dir="rtl"] .messages--error {
  border-color: #f9c9bf transparent #f9c9bf #f9c9bf;
  box-shadow: 8px 0 0 #e62600;
}

/* line 412, ../sass/theme/_drupal.scss */
.messages--error p.error, .messages--error dl.error, .messages--error menu.error, .messages--error ol.error, .messages--error ul.error {
  color: #a51b00;
}

/* */
/* Hide text */
/**/
/* line 430, ../sass/theme/_drupal.scss */
.element-invisible,
.off-screen {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* line 435, ../sass/theme/_drupal.scss */
.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  position: static !important;
  clip: auto;
  overflow: visible;
  height: auto;
}

/* */
/* Login*/
/**/
/* line 446, ../sass/theme/_drupal.scss */
.page-user #page {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

/* line 450, ../sass/theme/_drupal.scss */
.section-user main {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  height: 100vh;
  padding: 0 25px;
}
/* line 463, ../sass/theme/_drupal.scss */
.section-user main .node__content > a {
  display: block;
  max-width: 240px;
  margin: 0 auto;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //*/
/*  Component styling                                          //*/
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //*/
/* line 1, ../sass/components/_accordion.scss */
.paragraph--type--accordion {
  padding: 3em 0;
}
/* line 3, ../sass/components/_accordion.scss */
.paragraph--type--accordion .paragraph--type--accordion-item {
  border-bottom: 1px solid #AD004A;
  font: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 1.5em 0;
  position: relative;
}
/* line 8, ../sass/components/_accordion.scss */
.paragraph--type--accordion .paragraph--type--accordion-item .ui-accordion-header {
  background-color: #F7F7F7;
  border-color: inherit;
  color: #AD004A;
  margin: 0;
  padding: 0.4em 0.7em;
  position: absolute;
  right: 0;
  top: 22px;
}
/* line 17, ../sass/components/_accordion.scss */
.paragraph--type--accordion .paragraph--type--accordion-item .ui-accordion-header:after {
  font-size: 0.875em;
  background-color: #F7F7F7;
  border-radius: 4px;
  bottom: 0;
  color: #AD004A;
  content: "Show";
  display: block;
  left: 0;
  padding: 6px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}
/* line 34, ../sass/components/_accordion.scss */
.paragraph--type--accordion .paragraph--type--accordion-item .ui-accordion-header:hover:after {
  background-color: #AD004A;
  color: #FFFFFF;
}
/* line 38, ../sass/components/_accordion.scss */
.paragraph--type--accordion .paragraph--type--accordion-item .ui-accordion-header.ui-state-active {
  position: absolute;
  right: 0;
  top: 22px;
  margin: 0;
}
/* line 43, ../sass/components/_accordion.scss */
.paragraph--type--accordion .paragraph--type--accordion-item .ui-accordion-header.ui-state-active:after {
  content: "Hide";
}
/* line 46, ../sass/components/_accordion.scss */
.paragraph--type--accordion .paragraph--type--accordion-item .ui-accordion-content {
  background-color: transparent;
  border-radius: 0;
  border: 0;
  padding: 0;
}
/* line 51, ../sass/components/_accordion.scss */
.paragraph--type--accordion .paragraph--type--accordion-item .ui-accordion-content p:last-of-type, .paragraph--type--accordion .paragraph--type--accordion-item .ui-accordion-content dl:last-of-type, .paragraph--type--accordion .paragraph--type--accordion-item .ui-accordion-content menu:last-of-type, .paragraph--type--accordion .paragraph--type--accordion-item .ui-accordion-content ol:last-of-type, .paragraph--type--accordion .paragraph--type--accordion-item .ui-accordion-content ul:last-of-type {
  margin-bottom: 0;
}

/* line 5, ../sass/components/_forms.scss */
form {
  /* Default checkboxes override*/
}
/* line 6, ../sass/components/_forms.scss */
form *:focus {
  background-color: aliceblue;
  outline-offset: 0px;
  outline: 4px solid #a9d3fe;
}
/* line 12, ../sass/components/_forms.scss */
form .js-form-type-color {
  margin: 0;
}
/* line 16, ../sass/components/_forms.scss */
form .js-text-format-wrapper .js-form-type-textarea {
  margin-bottom: 0;
}
/* line 20, ../sass/components/_forms.scss */
form fieldset span.fieldset-legend {
  margin-bottom: 0;
}
/* line 24, ../sass/components/_forms.scss */
form .js-form-item,
form .js-form-actions {
  margin: 2em 0;
}
/* line 28, ../sass/components/_forms.scss */
form .js-form-item .description,
form .js-form-actions .description {
  margin: 0.75em 0 0;
}
/* line 33, ../sass/components/_forms.scss */
form span.fieldset-legend,
form .js-form-type-textarea label,
form label {
  color: #393942;
  display: block;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 8px;
  padding: 0;
}
/* line 44, ../sass/components/_forms.scss */
form span.fieldset-legend.form-required:after,
form .js-form-type-textarea label.form-required:after,
form label.form-required:after {
  content: "*";
  display: inline-block;
  color: #f00;
}
/* line 52, ../sass/components/_forms.scss */
form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="tel"] {
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #D8D8D8;
  color: #393942;
  line-height: 1.5;
  padding: 12px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* line 68, ../sass/components/_forms.scss */
form select {
  border-radius: 6px;
  border: 1px solid #D8D8D8;
  color: #393942;
  height: 53px;
  max-width: 100%;
}
/* line 75, ../sass/components/_forms.scss */
form select::-ms-expand {
  display: none;
}
/* line 80, ../sass/components/_forms.scss */
form textarea {
  font-size: 18px;
  border-radius: 6px;
  border: 1px solid #D8D8D8;
  color: #393942;
  line-height: 1.5;
  padding: 12px;
  width: 100%;
}
/* line 90, ../sass/components/_forms.scss */
form input[type="submit"] {
  color: #FFFFFF;
  font-size: 16px;
  padding: 0 1em;
}
/* line 101, ../sass/components/_forms.scss */
form .js-webform-checkboxes .form-item,
form .js-webform-radios .form-item {
  margin: 0;
}
/* line 104, ../sass/components/_forms.scss */
form .js-webform-checkboxes .form-item .description,
form .js-webform-radios .form-item .description {
  margin-left: -30px;
}
/* line 109, ../sass/components/_forms.scss */
form .js-webform-checkboxes .js-form-type-checkbox,
form .js-webform-checkboxes .js-form-type-radio,
form .js-webform-radios .js-form-type-checkbox,
form .js-webform-radios .js-form-type-radio {
  clear: left;
  margin: 0 0 30px;
  min-height: 30px;
  padding: 0 0 0 30px;
  position: relative;
}
/* line 117, ../sass/components/_forms.scss */
form .js-webform-checkboxes .js-form-type-checkbox input,
form .js-webform-checkboxes .js-form-type-radio input,
form .js-webform-radios .js-form-type-checkbox input,
form .js-webform-radios .js-form-type-radio input {
  cursor: pointer;
  height: 30px;
  left: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 30px;
  z-index: 1;
}
/* line 129, ../sass/components/_forms.scss */
form .js-webform-checkboxes .js-form-type-checkbox label,
form .js-webform-checkboxes .js-form-type-radio label,
form .js-webform-radios .js-form-type-checkbox label,
form .js-webform-radios .js-form-type-radio label {
  display: inline-block;
  margin-bottom: 0;
  padding: calc(30px/12) 10px;
  cursor: pointer;
}
/* line 135, ../sass/components/_forms.scss */
form .js-webform-checkboxes .js-form-type-checkbox label:before,
form .js-webform-checkboxes .js-form-type-radio label:before,
form .js-webform-radios .js-form-type-checkbox label:before,
form .js-webform-radios .js-form-type-radio label:before {
  background: inherit;
  border: 1px solid #D8D8D8;
  content: "";
  height: 30px;
  left: 0;
  position: absolute;
  top: 0;
  width: 30px;
}
/* line 147, ../sass/components/_forms.scss */
form .js-webform-checkboxes .js-form-type-checkbox input:checked + label:after,
form .js-webform-checkboxes .js-form-type-radio input:checked + label:after,
form .js-webform-radios .js-form-type-checkbox input:checked + label:after,
form .js-webform-radios .js-form-type-radio input:checked + label:after {
  opacity: 1;
}
/* line 151, ../sass/components/_forms.scss */
form .js-webform-checkboxes .js-form-type-checkbox input:focus + label:before,
form .js-webform-checkboxes .js-form-type-radio input:focus + label:before,
form .js-webform-radios .js-form-type-checkbox input:focus + label:before,
form .js-webform-radios .js-form-type-radio input:focus + label:before {
  background-color: aliceblue;
  outline-offset: 0px;
  outline: 0;
  box-shadow: 0 0 0 4px #a9d3fe;
}
/* line 161, ../sass/components/_forms.scss */
form .js-webform-checkboxes .js-form-type-checkbox label:after,
form .js-webform-radios .js-form-type-checkbox label:after {
  background: inherit;
  border: solid;
  border-width: 0 0 3px 3px;
  border-top-color: inherit;
  content: "";
  height: calc(30px/4.4);
  left: 8px;
  opacity: 0;
  position: absolute;
  top: 10px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: calc(30px/2);
}
/* line 181, ../sass/components/_forms.scss */
form .js-webform-checkboxes .js-form-type-radio label:before,
form .js-webform-radios .js-form-type-radio label:before {
  border-radius: 50%;
}
/* line 185, ../sass/components/_forms.scss */
form .js-webform-checkboxes .js-form-type-radio label:after,
form .js-webform-radios .js-form-type-radio label:after {
  background: inherit;
  border-radius: 50%;
  border: 7px solid #AD004A;
  content: "";
  height: 0;
  left: 8px;
  opacity: 0;
  position: absolute;
  top: 8px;
  width: 0;
}

/* Alternative label layout when labels shrink on focus*/
/* line 204, ../sass/components/_forms.scss */
form.alternative-labels .js-form-type-textfield,
form.alternative-labels .js-form-type-email,
form.alternative-labels .js-form-type-tel,
form.alternative-labels .js-form-type-webform-email-multiple,
form.alternative-labels .js-form-type-password {
  position: relative;
}
/* line 211, ../sass/components/_forms.scss */
form.alternative-labels .js-form-type-textfield label,
form.alternative-labels .js-form-type-email label,
form.alternative-labels .js-form-type-tel label,
form.alternative-labels .js-form-type-webform-email-multiple label,
form.alternative-labels .js-form-type-password label {
  cursor: text;
  left: 1em;
  position: absolute;
  top: 1em;
  -webkit-transition: -webkit-transform .2s ease-out;
  transition: -webkit-all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  transition: all .2s ease-out, -webkit-all .2s ease-out;
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  text-align: initial;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  pointer-events: none;
}
/* line 229, ../sass/components/_forms.scss */
form.alternative-labels .js-form-type-textfield label.focus,
form.alternative-labels .js-form-type-email label.focus,
form.alternative-labels .js-form-type-tel label.focus,
form.alternative-labels .js-form-type-webform-email-multiple label.focus,
form.alternative-labels .js-form-type-password label.focus {
  color: #D8D8D8;
  left: 0;
  top: -4px;
  -webkit-transform: translateY(-80%) scale(0.8);
  transform: translateY(-80%) scale(0.8);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
/* line 241, ../sass/components/_forms.scss */
form.alternative-labels .js-form-item-description-display-before label {
  top: 2.2em;
}
/* line 244, ../sass/components/_forms.scss */
form.alternative-labels .js-form-item-description-display-before label:focus {
  top: 0.3em;
}

@media (max-width: 640px) {
  /* line 1, ../sass/components/_body.scss */
  .paragraph--type--body {
    margin-top: 1.5em;
    padding: 0 0 1.5em 0;
  }
}
@media (min-width: 641px) {
  /* line 1, ../sass/components/_body.scss */
  .paragraph--type--body {
    margin-top: 1.5em;
    padding: 2em 0;
  }
}
/* line 12, ../sass/components/_body.scss */
.paragraph--type--body p:last-of-type, .paragraph--type--body dl:last-of-type, .paragraph--type--body menu:last-of-type, .paragraph--type--body ol:last-of-type, .paragraph--type--body ul:last-of-type {
  margin-bottom: 0;
}
/* line 16, ../sass/components/_body.scss */
.paragraph--type--body blockquote > p:first-of-type, .paragraph--type--body blockquote > dl:first-of-type, .paragraph--type--body blockquote > menu:first-of-type, .paragraph--type--body blockquote > ol:first-of-type, .paragraph--type--body blockquote > ul:first-of-type {
  font-size: 2.25em;
  font-weight: 700;
  line-height: 1.2;
}

/* line 138, ../sass/components/_cards.scss */
.card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
  -ms-flex: wrap;
  flex: wrap;
  margin: 0 1.25em 1.25em 0;
  padding: 0 !important;
}
/* line 15, ../sass/components/_cards.scss */
.card-wrapper .card {
  padding: 1.250em 0 0 1.250em;
}

/* line 139, ../sass/components/_cards.scss */
.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 1px solid #D8D8D8;
  margin: 0;
  min-height: 0;
  position: relative;
}
/* line 32, ../sass/components/_cards.scss */
.card .image-wrapper {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: block;
  padding: 0;
  position: relative;
}
/* line 40, ../sass/components/_cards.scss */
.card .content-wrapper {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border-radius: 0;
}
/* line 45, ../sass/components/_cards.scss */
.card .content-wrapper .eyebrow span {
  font-size: 0.875em;
  color: #AD004A;
  display: block;
  margin-top: 1em;
}
/* line 50, ../sass/components/_cards.scss */
.card .content-wrapper .eyebrow span a:link, .card .content-wrapper .eyebrow span a:visited {
  color: #AD004A;
}
/* line 54, ../sass/components/_cards.scss */
.card .content-wrapper .card-title h2 {
  margin-top: 0.25em;
  margin-bottom: 0;
}
/* line 58, ../sass/components/_cards.scss */
.card .content-wrapper a.category {
  background-color: #FFFFFF;
}

@media (min-width: 641px) {
  /* line 140, ../sass/components/_cards.scss */
  .card-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  /* line 68, ../sass/components/_cards.scss */
  .card-row .image-wrapper {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
  }
  /* line 73, ../sass/components/_cards.scss */
  .card-row .content-wrapper {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}
@media (max-width: 640px) {
  /* line 140, ../sass/components/_cards.scss */
  .card-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
/* line 88, ../sass/components/_cards.scss */
.card-row > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-decoration: none;
}
/* line 103, ../sass/components/_cards.scss */
.card-row .image-wrapper,
.card-row .content-wrapper {
  border: 0;
  padding: 0;
}
/* line 108, ../sass/components/_cards.scss */
.card-row .content-wrapper {
  background-color: #FFFFFF;
  padding: 1.250em;
  position: relative;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1.25em;
}
@media (min-width: 768px) {
  /* line 108, ../sass/components/_cards.scss */
  .card-row .content-wrapper {
    -webkit-box-flex: 1.6;
    -ms-flex: 1.6;
    flex: 1.6;
  }
}
/* line 126, ../sass/components/_cards.scss */
.card-row .content-wrapper h2 {
  margin-top: 0;
}
/* line 127, ../sass/components/_cards.scss */
.card-row .content-wrapper .card-attributes {
  margin-top: 0;
  padding-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/* line 133, ../sass/components/_cards.scss */
.card-row .content-wrapper .card-attributes .rating {
  position: relative;
}

/* line 1, ../sass/components/_tile.scss */
.paragraph--type--tile {
  width: 100%;
}
@media (min-width: 641px) {
  /* line 1, ../sass/components/_tile.scss */
  .paragraph--type--tile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  /* line 12, ../sass/components/_tile.scss */
  .paragraph--type--tile.alignright {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  /* line 18, ../sass/components/_tile.scss */
  .paragraph--type--tile.alignleft {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
/* line 25, ../sass/components/_tile.scss */
.paragraph--type--tile > div {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
}
/* line 30, ../sass/components/_tile.scss */
.paragraph--type--tile .content-wrapper {
  padding: 1.5em;
}
/* line 32, ../sass/components/_tile.scss */
.paragraph--type--tile .content-wrapper h2 {
  margin-top: 0;
}
/* line 34, ../sass/components/_tile.scss */
.paragraph--type--tile .image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (min-width: 641px) {
  /* line 1, ../sass/components/_image.scss */
  .paragraph--type--image {
    padding: 1.5em 0;
  }
}
@media (max-width: 640px) {
  /* line 1, ../sass/components/_image.scss */
  .paragraph--type--image {
    margin: 0 -spacing(xlarge);
  }
}
/* line 4, ../sass/components/_image.scss */
.paragraph--type--image > div {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* line 7, ../sass/components/_leaderboard.scss */
.leaderboard {
  position: relative;
}
@media (min-width: 641px) {
  /* line 7, ../sass/components/_leaderboard.scss */
  .leaderboard {
    height: 100%;
  }
}
/* line 14, ../sass/components/_leaderboard.scss */
.leaderboard--item {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
/* line 22, ../sass/components/_leaderboard.scss */
.leaderboard--item.item-center {
  -webkit-box-pack: center;
  justify-content: center;
}
/* line 27, ../sass/components/_leaderboard.scss */
.leaderboard--item.item-left {
  -webkit-box-pack: start;
  justify-content: flex-start;
}
/* line 31, ../sass/components/_leaderboard.scss */
.leaderboard--item.item-left .content-wrapper {
  left: 0;
}
/* line 36, ../sass/components/_leaderboard.scss */
.leaderboard--item.item-right {
  -webkit-box-pack: end;
  justify-content: flex-end;
}
/* line 40, ../sass/components/_leaderboard.scss */
.leaderboard--item.item-right .content-wrapper {
  right: 0;
}
/* line 45, ../sass/components/_leaderboard.scss */
.leaderboard--item .content-wrapper {
  background-color: #FFFFFF;
  padding: 1.5em;
  position: absolute;
  margin: 0 2em;
  width: 100%;
  max-width: 24em;
}
/* line 53, ../sass/components/_leaderboard.scss */
.leaderboard--item .content-wrapper span {
  display: block;
}
/* line 59, ../sass/components/_leaderboard.scss */
.leaderboard--static-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

/* line 77, ../sass/components/_leaderboard.scss */
.video-wrapper {
  position: relative;
  padding-top: 25px;
  overflow: hidden;
  padding-bottom: 56.25%;
}
/* line 83, ../sass/components/_leaderboard.scss */
.video-wrapper object, .video-wrapper embed, .video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 5, ../sass/components/_buttons.scss */
.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-clip: border-box;
  border-radius: 6px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 15px 30px;
  text-align: center;
  -webkit-transition: all 250ms linear 0s;
  transition: all 250ms linear 0s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: normal;
}
/* line 26, ../sass/components/_buttons.scss */
.btn:hover {
  cursor: pointer;
}
/* line 27, ../sass/components/_buttons.scss */
.btn--primary, form input[type="submit"] {
  background-color: #AD004A;
}
/* line 29, ../sass/components/_buttons.scss */
.btn--primary:link, form input[type="submit"]:link, .btn--primary:visited, form input[type="submit"]:visited {
  color: #FFFFFF;
}
/* line 33, ../sass/components/_buttons.scss */
.btn--primary:hover, form input[type="submit"]:hover {
  background-color: #8A003B;
}
/* line 37, ../sass/components/_buttons.scss */
.btn--outline-primary {
  background-color: #FFFFFF;
  border: 2px solid #AD004A;
}
/* line 40, ../sass/components/_buttons.scss */
.btn--outline-primary:link, .btn--outline-primary:visited {
  color: #AD004A;
}
/* line 44, ../sass/components/_buttons.scss */
.btn--outline-primary:hover {
  background-color: #AD004A;
  border: 2px solid #AD004A;
  color: #FFFFFF;
}
/* line 50, ../sass/components/_buttons.scss */
.btn--secondary {
  background-color: #D8D8D8;
  color: #D8D8D8;
}
/* line 53, ../sass/components/_buttons.scss */
.btn--secondary:link, .btn--secondary:visited {
  color: #FFFFFF;
}
/* line 58, ../sass/components/_buttons.scss */
.btn--outline-secondary {
  background-color: #FFFFFF;
  border: 2px solid #D8D8D8;
}
/* line 61, ../sass/components/_buttons.scss */
.btn--outline-secondary:link, .btn--outline-secondary:visited {
  color: #D8D8D8;
}
/* line 65, ../sass/components/_buttons.scss */
.btn--outline-secondary:hover {
  background-color: #D8D8D8;
  border: 2px solid #D8D8D8;
  color: #FFFFFF;
}

/* Common buttons and variables*/
/* line 76, ../sass/components/_buttons.scss */
input[type="button"].button-ic,
.button.button-ic {
  padding-left: 0 !important;
}
/* line 78, ../sass/components/_buttons.scss */
input[type="button"].button-ic.button-sm span,
.button.button-ic.button-sm span {
  margin-right: 0.5em;
  width: 40px;
  height: 40px;
}
/* line 83, ../sass/components/_buttons.scss */
input[type="button"].button-ic.button-rg span,
.button.button-ic.button-rg span {
  margin-right: 0.5em;
  width: 44px;
  height: 44px;
}
/* line 88, ../sass/components/_buttons.scss */
input[type="button"].button-ic.button-lg span,
.button.button-ic.button-lg span {
  margin-right: 0.5em;
  width: 50px;
  height: 50px;
}
/* line 93, ../sass/components/_buttons.scss */
input[type="button"].button-ic svg, input[type="button"].button-ic span,
.button.button-ic svg,
.button.button-ic span {
  display: inline-block;
  vertical-align: middle;
}

/* Button groups inline*/
/* line 101, ../sass/components/_buttons.scss */
.button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/* line 105, ../sass/components/_buttons.scss */
.button-group .button {
  border-radius: 0;
  margin-left: -1px;
}
/* line 108, ../sass/components/_buttons.scss */
.button-group .button:first-child {
  border-radius: 6px 0 0 6px;
  margin-left: 0;
}
/* line 112, ../sass/components/_buttons.scss */
.button-group .button:last-child {
  border-radius: 0 6px 6px 0;
}
/* line 115, ../sass/components/_buttons.scss */
.button-group .button.button-ic {
  padding: 0;
}
/* line 117, ../sass/components/_buttons.scss */
.button-group .button.button-ic span {
  margin-right: 0;
}

/**/
/* Modals*/
/* */
/* line 5, ../sass/components/_modals.scss */
#video-container {
  cursor: pointer;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50000;
}
@media (max-width: 640px) {
  /* line 5, ../sass/components/_modals.scss */
  #video-container {
    background-color: #000000;
  }
}
@media (min-width: 641px) {
  /* line 5, ../sass/components/_modals.scss */
  #video-container {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.7);
  }
  /* line 20, ../sass/components/_modals.scss */
  #video-container iframe {
    border: 2px solid;
    max-width: 100%;
    width: 640px;
  }
}
/* line 26, ../sass/components/_modals.scss */
#video-container .inner-container {
  display: flexbox;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  position: relative;
  width: 100%;
}
/* line 37, ../sass/components/_modals.scss */
#video-container .inner-container .close-btn {
  color: #FFFFFF;
  cursor: pointer;
  font-size: 0;
  margin: 0;
  position: absolute;
  right: 40px;
  top: 40px;
}

/* line 5, ../sass/components/_lists.scss */
dl, menu, ol, ul {
  margin: 0;
  padding: 0 0 0 20px;
}
/* line 9, ../sass/components/_lists.scss */
dl li, menu li, ol li, ul li {
  color: #393942;
  margin: 0;
}
/* line 13, ../sass/components/_lists.scss */
dl.inline, menu.inline, ol.inline, ul.inline {
  padding-left: 0;
}
/* line 15, ../sass/components/_lists.scss */
dl.inline li, menu.inline li, ol.inline li, ul.inline li {
  display: inline-block;
  margin-right: 10px;
}
/* line 18, ../sass/components/_lists.scss */
dl.inline li:last-of-type, menu.inline li:last-of-type, ol.inline li:last-of-type, ul.inline li:last-of-type {
  margin-right: 0;
}

/* line 23, ../sass/components/_lists.scss */
ul.social-media {
  font-size: 0;
}
/* line 26, ../sass/components/_lists.scss */
ul.social-media li a {
  border-radius: 50%;
  display: inline-block;
  height: 32px;
  position: relative;
  vertical-align: middle;
  width: 32px;
  -webkit-transition: background-color, 200ms, ease-in-out, 0s;
  transition: background-color, 200ms, ease-in-out, 0s;
}
/* line 34, ../sass/components/_lists.scss */
ul.social-media li a svg {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
/* line 44, ../sass/components/_lists.scss */
ul.social-media li.twitter a {
  background-color: #55ACEE;
}
/* line 46, ../sass/components/_lists.scss */
ul.social-media li.twitter a:hover {
  background-color: #2795e9;
}
/* line 48, ../sass/components/_lists.scss */
ul.social-media li.facebook a {
  background-color: #1877f2;
}
/* line 50, ../sass/components/_lists.scss */
ul.social-media li.facebook a:hover {
  background-color: #0b5fcc;
}
/* line 52, ../sass/components/_lists.scss */
ul.social-media li.googleplus a {
  background-color: #dd4b39;
}
/* line 54, ../sass/components/_lists.scss */
ul.social-media li.googleplus a:hover {
  background-color: #c23321;
}
/* line 56, ../sass/components/_lists.scss */
ul.social-media li.linkedin a {
  background-color: #0976B4;
}
/* line 58, ../sass/components/_lists.scss */
ul.social-media li.linkedin a:hover {
  background-color: #075683;
}
/* line 60, ../sass/components/_lists.scss */
ul.social-media li.mailto a {
  background-color: #AD004A;
}
/* line 62, ../sass/components/_lists.scss */
ul.social-media li.mailto a:hover {
  background-color: #8A003B;
}
