.paragraph--type--three-columns-centre {
    &.container { padding: 0 spacing(xlarge); }
    @media (max-width: $bp--small) {
        display: -ms-grid;
        display: grid;
        grid-column-gap: spacing(xlarge);
        grid-row-gap: spacing(xlarge);
        .paragraph--item:first-of-type {
            -ms-grid-row: 2;
                grid-row-start: 2;
        }
        .paragraph--item:last-of-type {
            -ms-grid-row: 3;
                grid-row-start: 3;
        }
        .paragraph--item--pull {
            -ms-grid-row: 1;
                grid-row-start: 1;
        }
    }
    @media (min-width: $bp--small + 1) and (max-width: $bp--medium - 1) {
        display: -ms-grid;
        display: grid;
        grid-column-gap: spacing(xlarge);
        grid-row-gap: spacing(xlarge);
        .paragraph--item {
            -ms-grid-row: 2;
                grid-row-start: 2;
        }
        .paragraph--item--pull {
            -ms-grid-row: 1;
                grid-row-start: 1;
            -ms-grid-column: 1;
            -ms-grid-column-span: 2;
            grid-column: 1/span 2;
        }
    }
    @media (min-width: $bp--medium) {
        display: -ms-grid;
        display: grid;
        grid-column-gap: spacing(xlarge);
        -ms-grid-columns: 1fr 1.78fr 1fr;
            grid-template-columns: 1fr 1.78fr 1fr;
        .paragraph--item:nth-child(1) {
            -ms-grid-column: 1;
            -ms-grid-column-span: 1;
            grid-column: 1/span 1;
        }
        .paragraph--item--pull {
            -ms-grid-column: 1;
            -ms-grid-column-span: 1;
            grid-column: 1/span 1;
        }
        .paragraph--item:nth-child(3) {
            -ms-grid-column: 1;
            -ms-grid-column-span: 1;
            grid-column: 1/span 1;
        }
    }
}