// 
// Set the map variables up for font sizing here
// No CSS should be generated from this file
// 

$fontSize: (
    display: 75px,
    xxlarge: 56px,
    xlarge: 42px,
    large: 32px,
    medium: 28px,
    small: 22px,
    xsmall: 16px,
    xxsmall: 14px,
    base: 16px
);

$fontWeight: (
    thin: 100,
    light: 300,
    regular: 400,
    medium: 500,
    semi-bold: 600,
    bold: 700,
    extra-bold: 800,
    black: 900
);