/**/
/* Setup*/
/* */
/* Set up default styles for global page layouts*/

.main-content {
    &__sidebars {
        min-height: 100vh;
        a#main-content { display: none; }
        &--first {
            @media (min-width: $bp--medium + 1) {
                -ms-grid-columns: 300px 2fr;
                grid-template-columns: 300px 2fr;
            }
            .node__content {
                @media (min-width: $bp--medium + 1) {
                    padding-left: 2.5em;
                }
                .body p {
                    max-width: 46em;
                }
            }
            article {
                padding-top: 99px;
            }
            aside {
                background-color: tint(getColor(primary), 98%);
                border-right: 1px solid tint(getColor(primary), 85%);
                -webkit-box-pack: start;
                    -ms-flex-pack: start;
                        justify-content: flex-start;
                text-align: left;
                nav { width: 100%; }
                @media (min-width: $bp--medium + 1) {
                    position: fixed;
                    left: 0px;
                    padding: 99px 0 0;
                    width: 300px;
                    height: 100%;
                    overflow-y: scroll;
                    overflow-x: hidden;
                }
            }
        }
    }
}

code[class*="language-"],
pre[class*="language-"] {
    font-size: 12px !important;
    white-space: pre-wrap !important;
}
