{% set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
] %}

{{ attach_library('classy/node') }}

{% if not page %}
  <header>
  {{ title_prefix }}
    <h2{{ title_attributes.addClass('node__title') }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}
  {% if display_submitted %}
    <div class="node__meta">
      {{ author_picture }}
      <span{{ author_attributes }}>
        {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
      </span>
      {{ metadata }}
    </div>
  </header>
{% endif %}
<section class="node__content">
  {{ page.breadcrumb }}
  {{ page.highlighted }}
  {{ page.help }}
  <h1>{{ label }}</h1>
  {% if node.body.summary %}
    <div class="summary">
      <p class="featured-22">{{ node.body.summary|raw }}</p>
    </div>
  {% endif %}
  <div class="body">
    {{ content }}
  </div>
</section>