{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    paragraph.field_container.value
  ]
%}

{% set values = paragraph.field_one_col.getValue() %}

<div{{ attributes.addClass(classes) }}>
    {% if paragraph.field_one_col.0.entity.getParagraphType().id == 'card' %}
        <div class="card">
            {{ drupal_entity('paragraph', values.0.target_id) }}
        </div>
    {% else %}
        {{ drupal_entity('paragraph', values.0.target_id) }}
    {% endif %}
</div>