// Inline cookie styling table
#optanon-cookie-policy {
    .optanon-cookie-policy-group {
        > h2 {
            @extend p;
            font-size: inherit;
            font-weight: 700;
            font-family: inherit;  
        }
        table {
            border: 1px solid #cccccc;
            th, td {
                border-color: #cccccc;
                padding: 8px;
                word-break: break-word;
            }
        }
    }
    .optanon-cookie-policy-subgroup-table {
        .optanon-cookie-policy-subgroup .optanon-cookie-policy-right,
        .optanon-cookie-policy-right {
            padding-left: 1rem;
        }
    }
}

// Cookie settings button
.optanon-show-settings-popup-wrapper {
    display: inline-block;
    width: 100%;
    height: auto;
}

// Banner bottom inline link spacing fix
.optanon-alert-box-bg #alert-box-message > a {
    margin-left: 6px;
}