{#
/**
 * @file
 * Bartik's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
 #}

{% set url = url('<current>')['#markup'] %}
{% if page.sidebar_first %}
    {% set mainClasses = [
        'main-content',
        'main-content__sidebars',
        'main-content__sidebars--first',
        'main-content__one-sidebar',
        'clearfix'
    ] %}
    {% set contentClasses = [
        'main-content__sidebars--article'
    ] %}
    {% set sidebarClasses = [
        'main-content__sidebars--sidebar-first',
    ] %}
{% elseif page.sidebar_second %}
    {% set mainClasses = [
        'main-content',
        'main-content__sidebars',
        'main-content__sidebars--second',
        'main-content__one-sidebar',
        'clearfix'
    ] %}
    {% set contentClasses = [
        'main-content__sidebars--article',
    ] %}
    {% set sidebarClasses = [
        'main-content__sidebars--sidebar-second',
    ] %}
{% else %}
    {% set mainClasses = [
        'main-content',
        'main-content__no-sidebars',
        'clearfix'
    ] %}
    {% set contentClasses = [
        'main-content__no-sidebars--article'
    ] %}
{% endif %}

{{ page.header }}

{{ page.primary_menu }}
{{ page.secondary_menu }}

{{ page.breadcrumb }}

{{ page.highlighted }}

{{ page.help }}

{% block replaceable %}
    {% if page.sidebar_first %}
        <main id="content" {{ attributes.addClass(mainClasses) }} role="main">
            <a id="main-content" tabindex="-1"></a>
            <article{{ attributes.addClass(contentClasses).removeClass('main-content', 'main-content__sidebars', 'main-content__sidebars--first', 'main-content__one-sidebar', 'clearfix') }}>
                {{ page.content }}
            </article>
            <aside {{ attributes.addClass(sidebarClasses).removeClass('main-content__sidebars--article') }} role="complementary">
                {{ page.sidebar_first }}
            </aside>
        </main>
    {% elseif page.sidebar_second %}
        <main id="content" {{ attributes.addClass(mainClasses) }} role="main">
            <a id="main-content" tabindex="-1"></a>
            <article{{ attributes.addClass(contentClasses).removeClass('main-content', 'main-content__sidebars', 'main-content__sidebars--second', 'main-content__one-sidebar', 'clearfix') }}>
                {{ page.content }}
            </article>
            <aside {{ attributes.addClass(sidebarClasses).removeClass('main-content__sidebars--article') }} role="complementary">
                <div class="content-wrapper pin">
                    {{ page.sidebar_second }}
                </div>
            </aside>
        </main>
    {% else %}
        <main id="content" {{ attributes.addClass(mainClasses) }} role="main">
            <a id="main-content" tabindex="-1"></a>
            <article{{ attributes.addClass(contentClasses).removeClass('main-content', 'main-content__no-sidebars', 'clearfix') }}>
            {# {{ kint(content) }} #}
            {{ page.content }}
            </article>
        </main>
    {% endif %}
{% endblock %}

{% if page.region_bottom %}
    {{ page.region_bottom }}
{% endif %}

{{ page.footer }}