/* Slider */
.slick-slider {
    margin-bottom: -10px;
    position: relative;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;

    [dir="rtl"] & {
        float: right;
    }

    img {
        display: block;
    }

    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}

.slick-arrow.slick-hidden {
    display: none;
}

.slick-list {
    position: relative;
}

.slick-next-arrow,
.slick-prev-arrow {
    -webkit-box-shadow: -1px 1px 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: -1px 1px 3px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    position: absolute;
    background-color: getColor(grey, light);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    top: 50%;

    @include translate(0, -50%);

    font-size: 0;

    @include transition(all 0.8s ease-out 0s);

    padding: 0;
    background-repeat: no-repeat;
    background-size: 7px;
    cursor: pointer;

    &:hover {
        @include transition(all 0.4s ease-in 0s);
    }
}

.slick-next-arrow {
    right: 15px;
    background-image: url("../assets/icons/svg/right.svg");
    background-position: center;
}

.slick-prev-arrow {
    left: 15px;
    background-image: url("../assets/icons/svg/left.svg");
    background-position: 43% center;
}

/* hide for page count*/

.custom_paging {
    display: none !important;
}

.slide-number {
    display: inline-block;
    color: #FFFFFF;

    .slideno {
        display: inline-block;
    }

    .slick-next {
        display: inline-block;
        background: url("../assets/icons/svg/arrow-right-white.svg");
        height: 20px;
        width: 20px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px;

        &--navy {
            background: url("../assets/icons/svg/arrow-right-navy.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 20px;
        }
    }
}

.leaderboard-section .field-paragraph, .field-gallery {
    .slide-number {
        opacity: 0;
        -webkit-transition: all .4s ease-out;
        transition: all .4s ease-out;
        transition: all .4s ease-out, -webkit-all .4s ease-out;
    }

    .item-content:nth-child(n+2) {
        opacity: 0;
        visibility: hidden;
        transition: opacity 1s ease;
        -webkit-transition: opacity 1s ease;
        display: none;
    }

    &.slick-initialized {
        .slide-number {
            opacity: 1;
        }

        .item-content {
            visibility: visible;
            opacity: 1;
            display: block;
        }
    }
}

.slick-lightbox {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: black;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

.slick-lightbox .slick-loading .slick-list {
    background-color: transparent;
}

.slick-lightbox .slick-prev {
    left: 15px;
}

.slick-lightbox .slick-next {
    right: 15px;
}

.slick-lightbox-hide {
    opacity: 0;
}

.slick-lightbox-hide.slick-lightbox-ie {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity = 0);
}

.slick-lightbox-hide-init {
    position: absolute;
    top: -9999px;
    opacity: 0;
}

.slick-lightbox-hide-init.slick-lightbox-ie {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity = 0);
}

.slick-lightbox-inner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slick-lightbox-slick-item {
    text-align: center;
    overflow: hidden;
}

.slick-lightbox-slick-item:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.slick-caption-bottom .slick-lightbox-slick-item .slick-lightbox-slick-item .slick-lightbox-slick-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.slick-caption-dynamic .slick-lightbox-slick-item .slick-lightbox-slick-item .slick-lightbox-slick-caption {
    display: block;
    text-align: center;
}

.slick-lightbox-slick-item-inner {
    display: inline-block;
    vertical-align: middle;
    max-width: 90%;
    max-height: 90%;
}

.slick-lightbox-slick-img {
    margin: 0 auto;
    display: block;
    max-width: 90%;
    max-height: 90%;
}

.slick-lightbox-slick-caption {
    margin: 10px 0 0;
    color: white;
}

.slick-lightbox-close {
    position: absolute;
    top: 15px;
    right: 15px;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: transparent;
    padding: 0;
    border: none;
}

.slick-lightbox-close:focus {
    outline: none;
}

.slick-lightbox-close:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.85;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "×";
}

.slick-lightbox-slick {
    .slick-arrow {
        -webkit-box-shadow: -1px 1px 3px 0 rgba(0, 0, 0, 0.2);
        box-shadow: -1px 1px 3px 0 rgba(0, 0, 0, 0.2);
        z-index: 1;
        position: absolute;
        background-color: getColor(grey, light);
        border-radius: 50%;
        height: 30px;
        width: 30px;
        top: 50%;
        font-size: 0;
        padding: 0;
        background-repeat: no-repeat;
        cursor: pointer;
        background-size: 7px;
        @include translate(0, -50%);
        @include transition(all 0.8s ease-out 0s);
        &:hover {
            @include transition(all 0.4s ease-in 0s);
        }
    }

    .slick-next {
        right: 20px;
        background-image: url("../assets/icons/svg/right.svg");
        background-position: center;
    }

    .slick-prev {
        left: 20px;
        background-image: url("../assets/icons/svg/left.svg");
        background-position: 43% center;
    }
}

/* hide slick */
@mixin hideSlick($container, $element) {
    #{$container} {
        #{$element} {
            &:nth-child(n+2) {
                opacity: 0;
                visibility: hidden;
                transition: opacity 1s ease;
                -webkit-transition: opacity 1s ease;
                display: none;
            }
        }

        &.slick-initialized {
            #{$element} {
                visibility: visible;
                opacity: 1;
                display: block;
            }
        }
    }
}