// 
// Card UI styling
// Base card component styling
// 

@mixin card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  margin: 0 1.25em 1.25em 0;
  padding: 0 !important;
  .card {
    padding: 1.250em 0 0 1.250em; 
  }
}

@mixin card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid getColor(grey);
  margin: 0;
  min-height: 0;
  position: relative;
  .image-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    display: block;
    padding: 0;
    position: relative;
  }
  .content-wrapper {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    border-radius: 0;
    .eyebrow span {
      font-size: em(fontSize(xxsmall));
      color: getColor(primary);
      display: block;
      margin-top: spacing(medium);
      a:link, a:visited {
        color: getColor(primary);
      }
    }
    .card-title h2 {
      margin-top: 0.25em;
      margin-bottom: 0;
    }
    a.category { background-color: #FFFFFF; }
  }
}

@mixin card-row {
  @media (min-width: $bp--small + 1) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    .image-wrapper {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 40%;
              flex: 0 0 40%;
    }
    .content-wrapper {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 60%;
              flex: 0 0 60%;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
    }
  }
  @media (max-width: $bp--small) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-decoration: none;
  }
  .image-wrapper,
  .content-wrapper {
    border: 0;
    padding: 0;
  }
  .content-wrapper {
    background-color: #FFFFFF;
    padding: 1.250em;
    position: relative;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1.25em;
    @media (min-width: $bp--medium) {
      -webkit-box-flex: 1.6;
      -ms-flex: 1.6;
      flex: 1.6;
    }
    h2 { margin-top: 0; }
    .card-attributes {
      margin-top: 0;
      padding-bottom: 1em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      .rating { position: relative; }
    }
  }
}

.card-wrapper { @include card-wrapper; }
.card { @include card; }
.card-row { @include card-row; }