// 
// Lists
// 

dl, menu, ol, ul {
  @extend p;
  margin: 0;
  padding: 0 0 0 20px;
  li {
    color: getColor(text);
    margin: 0;
  }
  &.inline {
    padding-left: 0;
    li {
      display: inline-block;
      margin-right: 10px;
      &:last-of-type { margin-right: 0; }
    }
  }
}

ul.social-media {
  font-size: 0;
  li {
    a {
      border-radius: 50%;
      display: inline-block;
      height: 32px;
      position: relative;
      vertical-align: middle;
      width: 32px;
      @include transition(background-color, 200ms, ease-in-out, 0s);
      svg {
        bottom: 0;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
      }
    }
    &.twitter a {
      background-color: #55ACEE;
      &:hover { background-color: darken(#55ACEE, 10%); }
    }
    &.facebook a {
      background-color: #1877f2;
      &:hover { background-color: darken(#1877f2, 10%); }
    }
    &.googleplus a {
      background-color: #dd4b39;
      &:hover { background-color: darken(#dd4b39, 10%); }
    }
    &.linkedin a {
      background-color: #0976B4;
      &:hover { background-color: darken(#0976B4, 10%); }
    }
    &.mailto a {
      background-color: getColor(link);
      &:hover { background-color: getColor(link, hover); }
    }
  }
}