{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
	{% import _self as menus %}
	{% if items %}
		{% if menu_level == 0 %}
			<ul{{attributes.addClass('menu','menu__main-menu','menu--inline')}}>
			{% else %}
				<ul class="menu menu__main-menu menu--inline">
				{% endif %}
				{% for item in items %}
					{%
						set classes = [
						'menu__item',
						item.is_expanded ? 'menu__item--expanded',
						item.is_collapsed ? 'menu__item--collapsed',
						item.in_active_trail ? 'menu__item--active-trail',
					]
					%}
					<li{{item.attributes.addClass(classes)}}>
						{{ link(item.title, item.url) }}
						{% if item.below %}
							{{ menus.menu_links(item.below, attributes, menu_level + 1) }}
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		{% endif %}
		<div class="menu__mega-menu">
			<div class="menu__mega-menu--container">
				<div class="menu__mega-menu--main-wrapper">
					<div class="mega-menu">
						<ul>
							<li class="mega-menu__item mega-menu__item--title">
								<span>Menu title</span>
							</li>
							<li class="mega-menu__item">
								<a href="#">Menu item</a>
							</li>
							<li class="mega-menu__item">
								<a href="#">Menu item</a>
							</li>
							<li class="mega-menu__item">
								<a href="#">Menu item</a>
							</li>
							<li class="mega-menu__item">
								<a href="#">Menu item</a>
							</li>
						</ul>
						<ul>
							<li class="mega-menu__item mega-menu__item--title">
								<span>Menu title</span>
							</li>
							<li class="mega-menu__item">
								<a href="#">Menu item</a>
							</li>
							<li class="mega-menu__item">
								<a href="#">Menu item</a>
							</li>
							<li class="mega-menu__item">
								<a href="#">Menu item</a>
							</li>
							<li class="mega-menu__item">
								<a href="#">Menu item</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	{% endmacro %}
