{#
/**
 * @file
 * Theme override to display primary and secondary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing primary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.
 */
#}

<div class="movement-block">
    <div class="close"></div>
    <div class="up movement-arrow" direction="up"></div>
    <div class="down movement-arrow" direction="down"></div>
    <div class="left movement-arrow" direction="left"></div>
    <div class="right movement-arrow" direction="right"></div>
    <div class="click-to-hide movement-arrow" direction="hide"></div>
</div>

<div class="edit-tabs">
    <div class="hide-button"></div>
    {% if primary %}
        <ul class="tabs">
            <li class="movepod"></li>
            {{ primary }}
        </ul>
    {% endif %}
    {% if secondary %}
        <h2 class="visually-hidden">{{ 'Secondary tabs'|t }}</h2>
        <ul>{{ secondary }}</ul>
    {% endif %}
</div>
