/**/
/* Setup*/
/* */
/* Set up default styles for global page layouts*/

.main-content {
    &__sidebars {
        &--first aside {
            background-color: rgba(#D8D8D8, 0.2);

            @media (min-width: $bp--medium + 1) {
                display: -webkit-box;
                display: flex;
                border-right: 1px solid getColor(grey, light);
                -webkit-box-pack: end;
                justify-content: flex-end;
                text-align: right;
            }
        }
    }
}

table {
    border-collapse: collapse;
    border: 1px solid black;

    thead th {
        font-weight: fontWeight(bold);
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }
}
