.paragraph--type--two-columns-pull-right {
    &.container { padding: 0 spacing(xlarge); }
    @media (max-width: $bp--medium - 1) {
        display: -ms-grid;
        display: grid;
        grid-column-gap: spacing(xlarge);
        grid-row-gap: spacing(xlarge);
    }
    @media (min-width: $bp--medium) {
        display: -ms-grid;
        display: grid;
        grid-column-gap: spacing(xlarge);
        -ms-grid-columns: 1.06fr 3fr;
            grid-template-columns: 1.06fr 3fr;
        .paragraph--item:first-of-type {
            -ms-grid-column: 1;
            -ms-grid-column-span: 1;
            grid-column: 1/span 1;
        }
        .paragraph--item:last-of-type {
            -ms-grid-column: 2;
            -ms-grid-column-span: 1;
            grid-column: 2/span 1;
        }
    }
}